{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vaultre.api#GetEventStreamRequest": {
      "type": "structure",
      "members": {
        "eventsSince": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "eventsSince",
            "smithy.api#documentation": "Retrieve events since this date. Note that events expire after 30 days."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Used for pagination. Retrieve results starting from this cursor position."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#EventStreamItem": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "data": {
          "target": "smithy.api#Document"
        },
        "id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetEventStreamResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#EventStreamItem"
      },
      "traits": {}
    },
    "com.vaultre.api#GetEventStreamResponseUrls": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetEventStreamResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetEventStreamResponseItemsList"
        },
        "urls": {
          "target": "com.vaultre.api#GetEventStreamResponseUrls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetEventStream": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetEventStreamRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetEventStreamResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/eventStream",
          "code": 200
        },
        "smithy.api#documentation": "Poll the event stream\n\nRetrieve events from the event stream."
      }
    },
    "com.vaultre.api#GetIntegratorAccountsRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetIntegratorAccountsRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetIntegratorAccountsRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#Account": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "businessName": {
          "target": "smithy.api#String"
        },
        "eMarketingName": {
          "target": "smithy.api#String"
        },
        "timezone": {
          "target": "smithy.api#String"
        },
        "openDatabase": {
          "target": "smithy.api#Boolean"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "phoneNumbers": {
          "target": "com.vaultre.api#AccountPhoneNumbersList"
        },
        "address": {
          "target": "com.vaultre.api#Address"
        },
        "postalAddress": {
          "target": "com.vaultre.api#Address"
        },
        "franchise": {
          "target": "com.vaultre.api#AccountFranchise"
        },
        "speciality": {
          "target": "com.vaultre.api#AccountSpeciality"
        },
        "marketingUserOrders": {
          "target": "com.vaultre.api#AccountMarketingUserOrdersList"
        },
        "websiteUrl": {
          "target": "smithy.api#String"
        },
        "clientLoginUrl": {
          "target": "smithy.api#String"
        },
        "openingHours": {
          "target": "com.vaultre.api#AccountOpeningHours"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#PhoneNumber": {
      "type": "structure",
      "members": {
        "number": {
          "target": "smithy.api#String"
        },
        "typeCode": {
          "target": "com.vaultre.api#PhoneNumberTypeCode"
        },
        "type": {
          "target": "com.vaultre.api#PhoneNumberType"
        },
        "comment": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#PhoneNumberTypeCode": {
      "type": "enum",
      "members": {
        "H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "H"
          }
        },
        "W": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "W"
          }
        },
        "M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "M"
          }
        },
        "F": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "F"
          }
        },
        "D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "D"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#PhoneNumberType": {
      "type": "enum",
      "members": {
        "HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Home"
          }
        },
        "WORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Work"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mobile"
          }
        },
        "FACSIMILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Facsimile"
          }
        },
        "DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Direct"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#AccountPhoneNumbersList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#PhoneNumber"
      },
      "traits": {}
    },
    "com.vaultre.api#Address": {
      "type": "structure",
      "members": {
        "level": {
          "target": "smithy.api#String"
        },
        "unitNumber": {
          "target": "smithy.api#String"
        },
        "streetNumber": {
          "target": "smithy.api#String"
        },
        "street": {
          "target": "smithy.api#String"
        },
        "suburb": {
          "target": "com.vaultre.api#Suburb"
        },
        "state": {
          "target": "com.vaultre.api#State"
        },
        "country": {
          "target": "com.vaultre.api#Country"
        },
        "royalMail": {
          "target": "com.vaultre.api#RoyalMail"
        },
        "customAddress": {
          "target": "com.vaultre.api#CustomAddress"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#Suburb": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "postcode": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.vaultre.api#State"
        },
        "nzDistrict": {
          "target": "com.vaultre.api#District"
        },
        "isPoBox": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#State": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "abbreviation": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#District": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "region": {
          "target": "com.vaultre.api#Region"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#Region": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#Country": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "isocode": {
          "target": "smithy.api#String"
        },
        "gstRate": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#RoyalMail": {
      "type": "structure",
      "members": {
        "buildingName": {
          "target": "smithy.api#String"
        },
        "buildingNumber": {
          "target": "smithy.api#String"
        },
        "department": {
          "target": "smithy.api#String"
        },
        "locality": {
          "target": "smithy.api#String"
        },
        "locality2": {
          "target": "smithy.api#String"
        },
        "organisation": {
          "target": "smithy.api#String"
        },
        "postTown": {
          "target": "smithy.api#String"
        },
        "postcode": {
          "target": "smithy.api#String"
        },
        "subbuildingName": {
          "target": "smithy.api#String"
        },
        "subbuildingNumber": {
          "target": "smithy.api#String"
        },
        "thoroughfare": {
          "target": "smithy.api#String"
        },
        "thoroughfare2": {
          "target": "smithy.api#String"
        },
        "udprn": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#CustomAddress": {
      "type": "structure",
      "members": {
        "address1": {
          "target": "smithy.api#String"
        },
        "address2": {
          "target": "smithy.api#String"
        },
        "postTown": {
          "target": "smithy.api#String"
        },
        "postcode": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#AccountFranchise": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#AccountSpeciality": {
      "type": "enum",
      "members": {
        "COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commercial"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MarketingUserOrder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#AccountMarketingUserOrdersList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#MarketingUserOrder"
      },
      "traits": {}
    },
    "com.vaultre.api#AccountOpeningHours": {
      "type": "structure",
      "members": {
        "sunday": {
          "target": "smithy.api#String"
        },
        "monday": {
          "target": "smithy.api#String"
        },
        "tuesday": {
          "target": "smithy.api#String"
        },
        "wednesday": {
          "target": "smithy.api#String"
        },
        "thursday": {
          "target": "smithy.api#String"
        },
        "friday": {
          "target": "smithy.api#String"
        },
        "saturday": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountsResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#Account"
      },
      "traits": {}
    },
    "com.vaultre.api#Urls": {
      "type": "structure",
      "members": {
        "previous": {
          "target": "smithy.api#String"
        },
        "next": {
          "target": "smithy.api#String"
        },
        "self": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetIntegratorAccountsResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetIntegratorAccounts": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetIntegratorAccountsRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetIntegratorAccountsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of accounts linked to this integrator\n\nRetrieve a list of accounts linked to this integrator"
      }
    },
    "com.vaultre.api#GetIntegratorAccountRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the account"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetIntegratorAccount": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetIntegratorAccountRequest"
      },
      "output": {
        "target": "com.vaultre.api#Account"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/accounts/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an account linked to this integrator\n\nRetrieve an account linked to this integrator"
      }
    },
    "com.vaultre.api#GetIntegratorAccountUsersRequestSort": {
      "type": "enum",
      "members": {
        "FIRSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firstName"
          }
        },
        "LASTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lastName"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountUsersRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountUsersRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the account"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "email",
            "smithy.api#documentation": "Filter users matching the given email address"
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetIntegratorAccountUsersRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetIntegratorAccountUsersRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#User": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "firstName": {
          "target": "smithy.api#String"
        },
        "lastName": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "adminAccess": {
          "target": "smithy.api#Boolean"
        },
        "position": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "com.vaultre.api#UserRole"
        },
        "photo": {
          "target": "com.vaultre.api#UserPhoto"
        },
        "lastLogin": {
          "target": "smithy.api#String"
        },
        "phoneNumbers": {
          "target": "com.vaultre.api#UserPhoneNumbersList"
        },
        "profile": {
          "target": "smithy.api#String"
        },
        "permissions": {
          "target": "com.vaultre.api#UserPermissions"
        },
        "websiteUrl": {
          "target": "smithy.api#String"
        },
        "showOnWeb": {
          "target": "smithy.api#Boolean"
        },
        "externalReference": {
          "target": "smithy.api#String"
        },
        "ssoIdentifier": {
          "target": "smithy.api#String"
        },
        "signature": {
          "target": "smithy.api#String"
        },
        "account": {
          "target": "com.vaultre.api#UserAccount"
        },
        "hideMobileFromPortal": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#UserRole": {
      "type": "enum",
      "members": {
        "COMMERCIALSALESANDLEASING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "commercialSalesAndLeasing"
          }
        },
        "RESIDENTIALSALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "residentialSales"
          }
        },
        "PROPERTYMANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "propertyManagement"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#UserPhoto": {
      "type": "structure",
      "members": {
        "original": {
          "target": "smithy.api#String"
        },
        "thumb_360": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#UserPhoneNumbersList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#PhoneNumber"
      },
      "traits": {}
    },
    "com.vaultre.api#UserPermissions": {
      "type": "structure",
      "members": {
        "settings": {
          "target": "smithy.api#Boolean"
        },
        "accessPropertyManagement": {
          "target": "smithy.api#Boolean"
        },
        "accessSales": {
          "target": "smithy.api#Boolean"
        },
        "canLogin": {
          "target": "smithy.api#Boolean"
        },
        "deleteContacts": {
          "target": "smithy.api#Boolean"
        },
        "deleteProperties": {
          "target": "smithy.api#Boolean"
        },
        "globalActionListsReadWrite": {
          "target": "smithy.api#Boolean"
        },
        "globalContactsReadWrite": {
          "target": "smithy.api#Boolean"
        },
        "globalNotesRead": {
          "target": "smithy.api#Boolean"
        },
        "globalNotesReadWrite": {
          "target": "smithy.api#Boolean"
        },
        "globalPropertiesRead": {
          "target": "smithy.api#Boolean"
        },
        "globalPropertiesReadWrite": {
          "target": "smithy.api#Boolean"
        },
        "globalTasksReadWrite": {
          "target": "smithy.api#Boolean"
        },
        "sendSMS": {
          "target": "smithy.api#Boolean"
        },
        "accessPropertyFinancials": {
          "target": "smithy.api#Boolean"
        },
        "accessAlarmDetails": {
          "target": "smithy.api#Boolean"
        },
        "modifyWebsiteContent": {
          "target": "smithy.api#Boolean"
        },
        "editMarketingContact": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#UserAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountUsersResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#User"
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorAccountUsersResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetIntegratorAccountUsersResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetIntegratorAccountUsers": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetIntegratorAccountUsersRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetIntegratorAccountUsersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/accounts/{id}/users",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of users for this account\n\nRetrieve a list of users for this account"
      }
    },
    "com.vaultre.api#GetIntegratorAccountUserRequest": {
      "type": "structure",
      "members": {
        "accountid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the account"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the user"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetIntegratorAccountUser": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetIntegratorAccountUserRequest"
      },
      "output": {
        "target": "com.vaultre.api#User"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/accounts/{accountid}/users/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a user for this account\n\nRetrieve a user for this account"
      }
    },
    "com.vaultre.api#GetIntegratorScopesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorScopesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vaultre.api#GetIntegratorScopesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetIntegratorScopes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.vaultre.api#GetIntegratorScopesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/scopes",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of possible scopes for your API key\n\nRetrieve a list of possible scopes for your API key. Note that individual bearer tokens may have fewer scopes applied."
      }
    },
    "com.vaultre.api#GetIntegratorTokensRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "accountId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "accountId",
            "smithy.api#documentation": "Filter tokens belonging to this account ID"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#Token": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.vaultre.api#ID"
        },
        "token": {
          "target": "smithy.api#String"
        },
        "scopes": {
          "target": "com.vaultre.api#TokenScopesList"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#ID": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#TokenScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorTokensResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#Token"
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorTokensResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetIntegratorTokensResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetIntegratorTokens": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetIntegratorTokensRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetIntegratorTokensResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of bearer tokens, with accounts, linked to this integrator\n\nRetrieve a list of bearer tokens, with accounts, linked to this integrator"
      }
    },
    "com.vaultre.api#ValidateIntegratorUserRequest": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#ValidateIntegratorUserResponse": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#Integer"
        },
        "accountId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#ValidateIntegratorUser": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#ValidateIntegratorUserRequest"
      },
      "output": {
        "target": "com.vaultre.api#ValidateIntegratorUserResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/integrator/validateUser",
          "code": 200
        },
        "smithy.api#documentation": "Validate a user's credentials\n\nValidate a user's credentials"
      }
    },
    "com.vaultre.api#GetIntegratorMergeFieldsRequestDeliveryMethod": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        },
        "CLOUD_LETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud_letter"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorMergeFieldsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the account to fetch merge fields for. Must be enabled for this integrator."
          }
        },
        "template_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "template_type",
            "smithy.api#required": {},
            "smithy.api#documentation": "Template type ID (e.g. market_report, buyer_match, property_alert)."
          }
        },
        "delivery_method": {
          "target": "com.vaultre.api#GetIntegratorMergeFieldsRequestDeliveryMethod",
          "traits": {
            "smithy.api#httpQuery": "delivery_method",
            "smithy.api#documentation": "Delivery method to filter fields by. Defaults to email."
          }
        },
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "context",
            "smithy.api#documentation": "Context ID (e.g. contact_only, contact_property_sale). When provided the response\nis a flat list of fields usable in that context. When omitted the response is tiered\nshowing all availability levels."
          }
        },
        "include_custom": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_custom",
            "smithy.api#documentation": "Include account-specific custom contact and property merge fields."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Filter fields by matching against the field name, description, or token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#MergeFieldsTieredResponse": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.vaultre.api#MergeFieldsTieredResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tiers": {
          "target": "com.vaultre.api#MergeFieldsTieredResponseTiersList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned when no context is provided. Shows all availability tiers."
      }
    },
    "com.vaultre.api#MergeFieldsTieredResponseMetaResponseType": {
      "type": "enum",
      "members": {
        "TIERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiered"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldsTieredResponseMeta": {
      "type": "structure",
      "members": {
        "template_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template type used to filter the fields"
          }
        },
        "delivery_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery method used to filter the fields"
          }
        },
        "response_type": {
          "target": "com.vaultre.api#MergeFieldsTieredResponseMetaResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_fields": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of fields returned across all tiers"
          }
        },
        "registry_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the merge field registry"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldTier": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tier identifier (e.g. always_available, requires_property)",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable tier name",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the tier"
          }
        },
        "categories": {
          "target": "com.vaultre.api#MergeFieldTierCategoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldCategory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable category name",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the category"
          }
        },
        "fields": {
          "target": "com.vaultre.api#MergeFieldCategoryFieldsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeField": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The merge field token (e.g. $$ContactFirstName$$)",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the field",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the field"
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Category ID this field belongs to"
          }
        },
        "engines": {
          "target": "com.vaultre.api#MergeFieldEnginesList",
          "traits": {
            "smithy.api#documentation": "Delivery engines that support this field"
          }
        },
        "in_editor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field is available in the template editor"
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field is deprecated"
          }
        },
        "custom_field": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the field is a custom account-specific field"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldEnginesItem": {
      "type": "enum",
      "members": {
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sms"
          }
        },
        "CLOUD_LETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud_letter"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldEnginesList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#MergeFieldEnginesItem"
      },
      "traits": {
        "smithy.api#documentation": "Delivery engines that support this field"
      }
    },
    "com.vaultre.api#MergeFieldCategoryFieldsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#MergeField"
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldTierCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#MergeFieldCategory"
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldsTieredResponseTiersList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#MergeFieldTier"
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldsFlatResponse": {
      "type": "structure",
      "members": {
        "meta": {
          "target": "com.vaultre.api#MergeFieldsFlatResponseMeta",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.vaultre.api#MergeFieldsFlatResponseCategoriesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned when a context is provided. Shows only fields usable in that context."
      }
    },
    "com.vaultre.api#MergeFieldsFlatResponseMetaResponseType": {
      "type": "enum",
      "members": {
        "FLAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flat"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldsFlatResponseMeta": {
      "type": "structure",
      "members": {
        "context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The context used to filter the fields"
          }
        },
        "template_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The template type used to filter the fields"
          }
        },
        "delivery_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The delivery method used to filter the fields"
          }
        },
        "response_type": {
          "target": "com.vaultre.api#MergeFieldsFlatResponseMetaResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_fields": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of fields returned"
          }
        },
        "registry_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the merge field registry"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#MergeFieldsFlatResponseCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#MergeFieldCategory"
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorMergeFieldsResponseBody": {
      "type": "union",
      "members": {
        "MergeFieldsTieredResponse": {
          "target": "com.vaultre.api#MergeFieldsTieredResponse"
        },
        "MergeFieldsFlatResponse": {
          "target": "com.vaultre.api#MergeFieldsFlatResponse"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetIntegratorMergeFieldsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vaultre.api#GetIntegratorMergeFieldsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetIntegratorMergeFields": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetIntegratorMergeFieldsRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetIntegratorMergeFieldsResponse"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        },
        {
          "target": "com.vaultre.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/integrator/merge-fields",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve available merge fields for an account\n\nIntegrator-authenticated version of the merge fields endpoint.\nReturns available merge fields for a given template type and delivery method for the specified account.\nThe account must be enabled for the integrator.\nWhen `context` is omitted, returns a tiered response grouping fields by their availability requirements.\nWhen `context` is provided, returns a flat response containing only the fields usable in that context."
      }
    },
    "com.vaultre.api#UpdateExternalPropertyStatRequest": {
      "type": "structure",
      "members": {
        "propertyid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the property"
          }
        },
        "salelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sale or lease"
          }
        },
        "lifeid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the property life"
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#IntegratorPropertyStat": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#UpdateExternalPropertyStat": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#UpdateExternalPropertyStatRequest"
      },
      "output": {
        "target": "com.vaultre.api#IntegratorPropertyStat"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/properties/{propertyid}/{salelease}/{lifeid}/externalStats",
          "code": 200
        },
        "smithy.api#documentation": "Integrator property statistics\n\nAdd or update a property stat"
      }
    },
    "com.vaultre.api#UpdateExternalPropertyStatsRequestStatsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#IntegratorPropertyStat"
      },
      "traits": {}
    },
    "com.vaultre.api#UpdateExternalPropertyStatsRequest": {
      "type": "structure",
      "members": {
        "propertyid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the property"
          }
        },
        "salelease": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Sale or lease"
          }
        },
        "lifeid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the property life"
          }
        },
        "stats": {
          "target": "com.vaultre.api#UpdateExternalPropertyStatsRequestStatsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#UpdateIntegratorPropertyStats": {
      "type": "structure",
      "members": {
        "stats": {
          "target": "com.vaultre.api#UpdateIntegratorPropertyStatsStatsList"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#UpdateIntegratorPropertyStatsStatsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#IntegratorPropertyStat"
      },
      "traits": {}
    },
    "com.vaultre.api#UpdateExternalPropertyStatsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#UpdateIntegratorPropertyStats"
      },
      "traits": {}
    },
    "com.vaultre.api#UpdateExternalPropertyStatsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vaultre.api#UpdateExternalPropertyStatsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#UpdateExternalPropertyStats": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#UpdateExternalPropertyStatsRequest"
      },
      "output": {
        "target": "com.vaultre.api#UpdateExternalPropertyStatsResponse"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/properties/{propertyid}/{salelease}/{lifeid}/externalStats",
          "code": 200
        },
        "smithy.api#documentation": "Integrator property statistics\n\nUpdate the property stats"
      }
    },
    "com.vaultre.api#GetTokenScopesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vaultre.api#GetTokenScopesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vaultre.api#GetTokenScopesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetTokenScopes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.vaultre.api#GetTokenScopesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/scopes",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of granted scopes for this bearer token\n\nRetrieve a list of granted scopes for this bearer token"
      }
    },
    "com.vaultre.api#ResponseCode": {
      "type": "structure",
      "members": {
        "msg": {
          "target": "smithy.api#String"
        },
        "code": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetResponseCodesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#ResponseCode"
      },
      "traits": {}
    },
    "com.vaultre.api#GetResponseCodesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vaultre.api#GetResponseCodesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetResponseCodes": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.vaultre.api#GetResponseCodesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/responseCodes",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of response codes used in this API\n\nRetrieve a list of response codes used in this API"
      }
    },
    "com.vaultre.api#GetPropertyClassesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyClassesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyClassesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetPropertyClassesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetPropertyClassesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#PropertyClass": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "internalName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyClassesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#PropertyClass"
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyClassesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetPropertyClassesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetPropertyClasses": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetPropertyClassesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetPropertyClassesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/propertyClass",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of property classes\n\nRetrieve a list of property classes"
      }
    },
    "com.vaultre.api#GetPropertyTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetPropertyTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetPropertyTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#PropertyType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "propertyClass": {
          "target": "com.vaultre.api#PropertyClass"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#PropertyType"
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetPropertyTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetPropertyTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetPropertyTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetPropertyTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/propertyType",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of property types\n\nRetrieve a list of property types applicable to this account"
      }
    },
    "com.vaultre.api#GetCustomUnsubscribeTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetCustomUnsubscribeTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetCustomUnsubscribeTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetCustomUnsubscribeTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetCustomUnsubscribeTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#UnsubscribeType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetCustomUnsubscribeTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#UnsubscribeType"
      },
      "traits": {}
    },
    "com.vaultre.api#GetCustomUnsubscribeTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetCustomUnsubscribeTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetCustomUnsubscribeTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetCustomUnsubscribeTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetCustomUnsubscribeTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/customUnsubscribe",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of custom unsubscribe types\n\nRetrieve a list of custom unsubscribe types for this account"
      }
    },
    "com.vaultre.api#GetContactInterestTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactInterestTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactInterestTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetContactInterestTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetContactInterestTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#ContactInterest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactInterestTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#ContactInterest"
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactInterestTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetContactInterestTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetContactInterestTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactInterestTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetContactInterestTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/contactInterest",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of contact interest types\n\nRetrieve a list of contact interest types"
      }
    },
    "com.vaultre.api#GetContactEntityTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactEntityTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactEntityTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetContactEntityTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetContactEntityTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#EntityType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactEntityTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#EntityType"
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactEntityTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetContactEntityTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetContactEntityTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactEntityTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetContactEntityTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/entityTypes",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of contact entity types\n\nRetrieve a list of contact entity types"
      }
    },
    "com.vaultre.api#GetExternalLinkTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetExternalLinkTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetExternalLinkTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetExternalLinkTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetExternalLinkTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#ExternalLinkType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetExternalLinkTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#ExternalLinkType"
      },
      "traits": {}
    },
    "com.vaultre.api#GetExternalLinkTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetExternalLinkTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetExternalLinkTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetExternalLinkTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetExternalLinkTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/externalLinks",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of property external link types\n\nRetrieve a list of property external link types"
      }
    },
    "com.vaultre.api#GetContactNoteTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactNoteTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactNoteTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetContactNoteTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetContactNoteTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#ContactNoteType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "colour": {
          "target": "smithy.api#String"
        },
        "defaultReadOnly": {
          "target": "smithy.api#Boolean"
        },
        "pinned": {
          "target": "smithy.api#Boolean"
        },
        "purpose": {
          "target": "com.vaultre.api#ContactNoteTypePurpose"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#ContactNoteTypePurpose": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactNoteTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#ContactNoteType"
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactNoteTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetContactNoteTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetContactNoteTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactNoteTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetContactNoteTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/contactnotes",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of contact note types for this account\n\nRetrieve a list of contact note types for this account"
      }
    },
    "com.vaultre.api#GetContactNoteTypeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the note type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetContactNoteType": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactNoteTypeRequest"
      },
      "output": {
        "target": "com.vaultre.api#ContactNoteType"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/contactnotes/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single contact note type\n\nRetrieve a single contact note type"
      }
    },
    "com.vaultre.api#GetPropertyNoteTypesRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyNoteTypesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyNoteTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetPropertyNoteTypesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetPropertyNoteTypesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#PropertyNoteType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "colour": {
          "target": "smithy.api#String"
        },
        "purpose": {
          "target": "com.vaultre.api#PropertyNoteTypePurpose"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#PropertyNoteTypePurpose": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyNoteTypesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#PropertyNoteType"
      },
      "traits": {}
    },
    "com.vaultre.api#GetPropertyNoteTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetPropertyNoteTypesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetPropertyNoteTypes": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetPropertyNoteTypesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetPropertyNoteTypesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/propertynotes",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of property note types for this account\n\nRetrieve a list of property note types for this account"
      }
    },
    "com.vaultre.api#GetPropertyNoteTypeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the note type"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetPropertyNoteType": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetPropertyNoteTypeRequest"
      },
      "output": {
        "target": "com.vaultre.api#PropertyNoteType"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/types/propertynotes/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single property note type\n\nRetrieve a single property note type"
      }
    },
    "com.vaultre.api#GetBuildingsRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetBuildingsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetBuildingsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetBuildingsRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetBuildingsRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#Building": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetBuildingsResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#Building"
      },
      "traits": {}
    },
    "com.vaultre.api#GetBuildingsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetBuildingsResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetBuildings": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetBuildingsRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetBuildingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/buildings",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of buildings\n\nRetrieve a list of buildings"
      }
    },
    "com.vaultre.api#AddBuilding": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.vaultre.api#Building"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/buildings",
          "code": 200
        },
        "smithy.api#documentation": "Create a building record\n\nCreate a building record"
      }
    },
    "com.vaultre.api#GetBuildingRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the building"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetBuilding": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetBuildingRequest"
      },
      "output": {
        "target": "com.vaultre.api#Building"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/buildings/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single building\n\nRetrieve a single building"
      }
    },
    "com.vaultre.api#UpdateBuildingRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the building"
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#UpdateBuilding": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#UpdateBuildingRequest"
      },
      "output": {
        "target": "com.vaultre.api#Building"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/buildings/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update the building\n\nUpdate the building"
      }
    },
    "com.vaultre.api#DeleteBuildingRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the building"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#DeleteBuilding": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#DeleteBuildingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/buildings/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete the building\n\nDelete the building"
      }
    },
    "com.vaultre.api#GetContactCategoryGroupsRequestSort": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactCategoryGroupsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactCategoryGroupsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number of results"
          }
        },
        "pagesize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pagesize",
            "smithy.api#documentation": "Number of records to be returned in each page."
          }
        },
        "sort": {
          "target": "com.vaultre.api#GetContactCategoryGroupsRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort",
            "smithy.api#documentation": "Field by which to sort the results."
          }
        },
        "sortOrder": {
          "target": "com.vaultre.api#GetContactCategoryGroupsRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Order by which to sort the results. Used in conjunction with sort parameter."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#CategoryGrouping": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "categories": {
          "target": "com.vaultre.api#CategoryGroupingCategoriesList"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#Category": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#CategoryGroupingCategoriesList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#Category"
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactCategoryGroupsResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#CategoryGrouping"
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactCategoryGroupsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetContactCategoryGroupsResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetContactCategoryGroups": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactCategoryGroupsRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetContactCategoryGroupsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/categories/contact/groups",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of contact category groups\n\nRetrieve a list of contact category groups"
      }
    },
    "com.vaultre.api#CategoryGroupingSimple": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vaultre.api#AddContactCategoryGroup": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.vaultre.api#CategoryGroupingSimple"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/categories/contact/groups",
          "code": 200
        },
        "smithy.api#documentation": "Create a contact category grouping\n\nCreate a contact category grouping"
      }
    },
    "com.vaultre.api#GetContactCategoryGroupRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the category group"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetContactCategoryGroup": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactCategoryGroupRequest"
      },
      "output": {
        "target": "com.vaultre.api#CategoryGrouping"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/categories/contact/groups/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a single contact category group\n\nRetrieve a single contact category group"
      }
    },
    "com.vaultre.api#UpdateContactCategoryGroupRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the category group"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#UpdateContactCategoryGroup": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#UpdateContactCategoryGroupRequest"
      },
      "output": {
        "target": "com.vaultre.api#CategoryGroupingSimple"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/categories/contact/groups/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a contact category grouping\n\nUpdate a contact category grouping"
      }
    },
    "com.vaultre.api#GetContactCategoryGroupCategoriesRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the category group"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#GetContactCategoryGroupCategoriesResponseItemsList": {
      "type": "list",
      "member": {
        "target": "com.vaultre.api#Category"
      },
      "traits": {}
    },
    "com.vaultre.api#GetContactCategoryGroupCategoriesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.vaultre.api#GetContactCategoryGroupCategoriesResponseItemsList"
        },
        "totalItems": {
          "target": "smithy.api#Integer"
        },
        "totalPages": {
          "target": "smithy.api#Integer"
        },
        "urls": {
          "target": "com.vaultre.api#Urls"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vaultre.api#GetContactCategoryGroupCategories": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#GetContactCategoryGroupCategoriesRequest"
      },
      "output": {
        "target": "com.vaultre.api#GetContactCategoryGroupCategoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/categories/contact/groups/{id}/categories",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of categories in this contact category group\n\nRetrieve a list of categories in this contact category group"
      }
    },
    "com.vaultre.api#AddContactCategoryGroupCategoryRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the category group"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vaultre.api#AddContactCategoryGroupCategory": {
      "type": "operation",
      "input": {
        "target": "com.vaultre.api#AddContactCategoryGroupCategoryRequest"
      },
      "output": {
        "target": "com.vaultre.api#Category"
      },
      "errors": [
        {
          "target": "com.vaultre.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/categories/contact/groups/{id}/categories",
          "code": 200
        },
        "smithy.api#documentation": "Create a contact category in this grouping\n\nCreate a contact category in this grouping"
      }
    },
    "com.vaultre.api#GetContactCategoryGroupCategoryRequest": {
      "type": "structure",
      "members": {
        "groupingid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
