{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.reapit.agentbox#GetContactClassesRequestInclude": {
      "type": "enum",
      "members": {
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        },
        "STAFFMEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staffMember"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactClassesRequest": {
      "type": "structure",
      "members": {
        "filter_query_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[query]",
            "smithy.api#documentation": "Filter results by contact class name"
          }
        },
        "include": {
          "target": "com.reapit.agentbox#GetContactClassesRequestInclude",
          "traits": {
            "smithy.api#httpQuery": "include",
            "smithy.api#documentation": "Output additional objects in the response. Supports multiple comma-separated values."
          }
        },
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which page of results should be returned"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of records to return per page (Default 20)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetContactClassesResponseContactClassesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactClassesResponseContactClassesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetContactClassesResponseContactClassesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactClassesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactClasses": {
          "target": "com.reapit.agentbox#GetContactClassesResponseContactClassesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetContactClasses": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetContactClassesRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetContactClassesResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contact-classes",
          "code": 200
        },
        "smithy.api#documentation": "Returns a set of contact classes"
      }
    },
    "com.reapit.agentbox#GetContactSourcesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which page of results should be returned"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of records to return per page (Default 20)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetContactSourcesResponseContactSourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactSourcesResponseContactSourcesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetContactSourcesResponseContactSourcesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactSourcesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactSources": {
          "target": "com.reapit.agentbox#GetContactSourcesResponseContactSourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetContactSources": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetContactSourcesRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetContactSourcesResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contact-sources",
          "code": 200
        },
        "smithy.api#documentation": "Returns a set of contact sources"
      }
    },
    "com.reapit.agentbox#GetContactsRequestFilterStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Archived"
          }
        },
        "DO_NOT_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Do Not Contact"
          }
        },
        "UNSUBSCRIBED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unsubscribed"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "All"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestFilterMemberRole": {
      "type": "enum",
      "members": {
        "FULL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Full Access"
          }
        },
        "VIEW_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "View Only"
          }
        },
        "PRIMARY_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Primary Owner"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestFilterType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Person"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestFilterReqListingType": {
      "type": "enum",
      "members": {
        "SALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sale"
          }
        },
        "LEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lease"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestFilterReqPropertyType": {
      "type": "enum",
      "members": {
        "RESIDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Residential"
          }
        },
        "RURAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rural"
          }
        },
        "COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commercial"
          }
        },
        "HOLIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Holiday"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestFilterReqPropertyCategory": {
      "type": "enum",
      "members": {
        "APARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Apartment"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Development"
          }
        },
        "FACTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Factory"
          }
        },
        "HOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "House"
          }
        },
        "LAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Land"
          }
        },
        "OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Office"
          }
        },
        "SEMI_DUPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Semi/Duplex"
          }
        },
        "RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retail"
          }
        },
        "STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Studio"
          }
        },
        "BLOCK_OF_UNITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Block Of Units"
          }
        },
        "TERRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terrace"
          }
        },
        "TOWNHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Townhouse"
          }
        },
        "UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unit"
          }
        },
        "VILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Villa"
          }
        },
        "WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warehouse"
          }
        },
        "SHOWROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Showroom"
          }
        },
        "CROPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cropping"
          }
        },
        "DAIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dairy"
          }
        },
        "FARMLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Farmlet"
          }
        },
        "HORTICULTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Horticulture"
          }
        },
        "LIFESTYLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lifestyle"
          }
        },
        "LIVESTOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Livestock"
          }
        },
        "VITICULTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Viticulture"
          }
        },
        "MIXED_FARMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mixed Farming"
          }
        },
        "ACREAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Acreage"
          }
        },
        "HOTEL_LEISURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hotel/Leisure"
          }
        },
        "MEDICAL_CONSULTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medical/Consulting"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ALPINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alpine"
          }
        },
        "BACKPACKERHOSTEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BackpackerHostel"
          }
        },
        "BEDANDBREAKFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BedAndBreakfast"
          }
        },
        "CAMPGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Campground"
          }
        },
        "CARAVANHOLIDAYPARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CaravanHolidayPark"
          }
        },
        "EXECUTIVERENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExecutiveRental"
          }
        },
        "FARMSTAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FarmStay"
          }
        },
        "FLAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flat"
          }
        },
        "HOUSEBOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HouseBoat"
          }
        },
        "LODGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lodge"
          }
        },
        "MOTEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Motel"
          }
        },
        "RESORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resort"
          }
        },
        "RETREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retreat"
          }
        },
        "SELFCONTAINEDCOTTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SelfContainedCottage"
          }
        },
        "SERVICEDAPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServicedApartment"
          }
        },
        "CAR_SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Car Space"
          }
        },
        "ACCOMMODATION_TOURISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Accommodation/Tourism"
          }
        },
        "AUTOMOTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automotive"
          }
        },
        "BEAUTY_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Beauty/Health"
          }
        },
        "FOOD_HOSPITALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Food/Hospitality"
          }
        },
        "IMPORT_EXPORT_WHOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Import/Export/Whole"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Services"
          }
        },
        "EDUCATION_TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Education/Training"
          }
        },
        "FRANCHISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Franchise"
          }
        },
        "HOME_GARDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Home/Garden"
          }
        },
        "INDUSTRIAL_MANUFACTURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Industrial/Manufacturing"
          }
        },
        "LEISURE_ENTERTAINMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Leisure/Entertainment"
          }
        },
        "PROFESSIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Professional"
          }
        },
        "RURAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rural"
          }
        },
        "TRANSPORT_DISTRIBUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Transport/Distribution"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestInclude": {
      "type": "enum",
      "members": {
        "STREETADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "streetAddress"
          }
        },
        "CONTACTCLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contactClasses"
          }
        },
        "RELATEDSTAFFMEMBERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relatedStaffMembers"
          }
        },
        "SUBSCRIPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscriptions"
          }
        },
        "COMMUNICATIONRESTRICTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "communicationRestrictions"
          }
        },
        "PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "permissions"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestFields": {
      "type": "enum",
      "members": {
        "LASTCONTACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lastContacted"
          }
        },
        "CLIENTREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clientRef"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestOrderBy": {
      "type": "enum",
      "members": {
        "FIRSTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firstName"
          }
        },
        "LASTNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lastName"
          }
        },
        "COMPANYNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "companyName"
          }
        },
        "FIRSTCREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firstCreated"
          }
        },
        "LASTMODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lastModified"
          }
        },
        "LASTCONTACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lastContacted"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequestOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which page of results should be returned"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of records to return per page (Default 20)"
          }
        },
        "filter_query_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[query]",
            "smithy.api#documentation": "Filter results by first name / last name / email / phone number"
          }
        },
        "filter_id_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[id]",
            "smithy.api#documentation": "Filter results by contact id. Supports multiple comma-separated values."
          }
        },
        "filter_firstName_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[firstName]",
            "smithy.api#documentation": "Filter results by first name"
          }
        },
        "filter_lastName_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[lastName]",
            "smithy.api#documentation": "Filter results by last name"
          }
        },
        "filter_email_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[email]",
            "smithy.api#documentation": "Filter results by email address"
          }
        },
        "filter_status_": {
          "target": "com.reapit.agentbox#GetContactsRequestFilterStatus",
          "traits": {
            "smithy.api#httpQuery": "filter[status]",
            "smithy.api#documentation": "By default only Active records are returned, pass filter[status]=All to get all records. Supports multiple comma-separated values."
          }
        },
        "filter_companyName_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[companyName]",
            "smithy.api#documentation": "Filter results by Company Name"
          }
        },
        "filter_mobile_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[mobile]",
            "smithy.api#documentation": "Filter results by Mobile Number"
          }
        },
        "filter_homePhone_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[homePhone]",
            "smithy.api#documentation": "Filter results by Home Phone"
          }
        },
        "filter_workPhone_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[workPhone]",
            "smithy.api#documentation": "Filter results by Work Phone"
          }
        },
        "filter_contactClass_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[contactClass]",
            "smithy.api#documentation": "Filter results by Contact Class that are attached to the contact. Supports multiple comma-separated values."
          }
        },
        "filter_contactClassExclude_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[contactClassExclude]",
            "smithy.api#documentation": "Filter results by Contact Class that are not attached to the contact. Supports multiple comma-separated values."
          }
        },
        "filter_contactClassId_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[contactClassId]",
            "smithy.api#documentation": "Filter results by Contact Class Id that are attached to the contact. Supports multiple comma-separated values."
          }
        },
        "filter_contactClassIdExclude_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[contactClassIdExclude]",
            "smithy.api#documentation": "Filter results by Contact Class Id that are not attached to the contact. Supports multiple comma-separated values."
          }
        },
        "filter_matchAllContactClass_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter[matchAllContactClass]",
            "smithy.api#documentation": "Contact Class Filter must match all input"
          }
        },
        "filter_address_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[address]",
            "smithy.api#documentation": "Filter results by Address"
          }
        },
        "filter_suburb_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[suburb]",
            "smithy.api#documentation": "Filter results by Suburb. Supports multiple comma-separated values."
          }
        },
        "filter_postcode_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[postcode]",
            "smithy.api#documentation": "Filter results by Postcode. Supports multiple comma-separated values."
          }
        },
        "filter_state_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[state]",
            "smithy.api#documentation": "Filter results by State. Supports multiple comma-separated values."
          }
        },
        "filter_memberId_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[memberId]",
            "smithy.api#documentation": "Filter results by associated agent. Supports multiple comma-separated values."
          }
        },
        "filter_memberRole_": {
          "target": "com.reapit.agentbox#GetContactsRequestFilterMemberRole",
          "traits": {
            "smithy.api#httpQuery": "filter[memberRole]",
            "smithy.api#documentation": "Filter results by associated agent role. Supports multiple comma-separated values."
          }
        },
        "filter_memberTeamId_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[memberTeamId]",
            "smithy.api#documentation": "Filter results by associated agents from specified team. Supports multiple comma-separated values."
          }
        },
        "filter_memberOfficeId_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[memberOfficeId]",
            "smithy.api#documentation": "Filter results by associated agents from specified office. Supports multiple comma-separated values."
          }
        },
        "filter_subscription_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[subscription]",
            "smithy.api#documentation": "Filter results by associated subscription. Supports multiple comma-separated values."
          }
        },
        "filter_type_": {
          "target": "com.reapit.agentbox#GetContactsRequestFilterType",
          "traits": {
            "smithy.api#httpQuery": "filter[type]",
            "smithy.api#documentation": "Filter Results by Contact Type"
          }
        },
        "filter_reqMatchListingId_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[reqMatchListingId]",
            "smithy.api#documentation": "Match contact's search requirements to a listing, this will overwrite any of the search requirements filters"
          }
        },
        "filter_reqListingType_": {
          "target": "com.reapit.agentbox#GetContactsRequestFilterReqListingType",
          "traits": {
            "smithy.api#httpQuery": "filter[reqListingType]",
            "smithy.api#documentation": "Filter contacts by search requirements's listing type"
          }
        },
        "filter_reqPropertyType_": {
          "target": "com.reapit.agentbox#GetContactsRequestFilterReqPropertyType",
          "traits": {
            "smithy.api#httpQuery": "filter[reqPropertyType]",
            "smithy.api#documentation": "Filter contacts by search requirements's property type"
          }
        },
        "filter_reqPropertyCategory_": {
          "target": "com.reapit.agentbox#GetContactsRequestFilterReqPropertyCategory",
          "traits": {
            "smithy.api#httpQuery": "filter[reqPropertyCategory]",
            "smithy.api#documentation": "Filter contacts by search requirements's by property category (a full list of valid categories can be obtained using the GET/property-types endpoint). Supports multiple comma-separated values."
          }
        },
        "filter_reqSuburb_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[reqSuburb]",
            "smithy.api#documentation": "Filter contacts by search requirements's suburb. Supports multiple comma-separated values."
          }
        },
        "filter_reqState_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[reqState]",
            "smithy.api#documentation": "Filter contacts by search requirements's states, (accepts state short name e.g. WA). Supports multiple comma-separated values."
          }
        },
        "filter_reqPostcode_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[reqPostcode]",
            "smithy.api#documentation": "Filter contacts by search requirements's post code. Supports multiple comma-separated values."
          }
        },
        "filter_reqIncSurroundSuburbs_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter[reqIncSurroundSuburbs]",
            "smithy.api#documentation": "Filter contacts by search requirements's surrounding suburbs"
          }
        },
        "filter_limitSearch_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter[limitSearch]",
            "smithy.api#documentation": "When set to true, will exclude contacts missing criteria searched (e.g. contacts with no preference)"
          }
        },
        "filter_reqRegion_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[reqRegion]",
            "smithy.api#documentation": "Filter results by Region (accepts region names). Supports multiple comma-separated values."
          }
        },
        "filter_reqFeature_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[reqFeature]",
            "smithy.api#documentation": "Filter results by features. Supports multiple comma-separated values."
          }
        },
        "filter_reqPriceFrom_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqPriceFrom]",
            "smithy.api#documentation": "Minimum price of properties for a contact search requirements"
          }
        },
        "filter_reqPriceTo_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqPriceTo]",
            "smithy.api#documentation": "Maximum price of properties for a contact search requirements"
          }
        },
        "filter_reqBedroomsFrom_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqBedroomsFrom]",
            "smithy.api#documentation": "Minimum number of bedrooms for a contact search requirements"
          }
        },
        "filter_reqBedroomsTo_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqBedroomsTo]",
            "smithy.api#documentation": "Maximum number of bedrooms for a contact search requirements"
          }
        },
        "filter_reqBathroomsFrom_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqBathroomsFrom]",
            "smithy.api#documentation": "Minimum number of bathrooms for a contact search requirements"
          }
        },
        "filter_reqBathroomsTo_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqBathroomsTo]",
            "smithy.api#documentation": "Maximum number of bathrooms for a contact search requirements"
          }
        },
        "filter_reqTotalParkingFrom_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqTotalParkingFrom]",
            "smithy.api#documentation": "Minimum number of car parking spaces for a contact search requirements"
          }
        },
        "filter_reqTotalParkingTo_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqTotalParkingTo]",
            "smithy.api#documentation": "Maximum number of car parking spaces for a contact search requirements"
          }
        },
        "filter_reqLandAreaFrom_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqLandAreaFrom]",
            "smithy.api#documentation": "Minimum land area (in square meters) for a contact search requirements"
          }
        },
        "filter_reqLandAreaTo_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqLandAreaTo]",
            "smithy.api#documentation": "Maximum land area (in square meters) for a contact search requirements"
          }
        },
        "filter_reqBuildingAreaFrom_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqBuildingAreaFrom]",
            "smithy.api#documentation": "Minimum building area (in square meters) for a contact search requirements"
          }
        },
        "filter_reqBuildingAreaTo_": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "filter[reqBuildingAreaTo]",
            "smithy.api#documentation": "Maximum building area (in square meters) for a contact search requirements"
          }
        },
        "include": {
          "target": "com.reapit.agentbox#GetContactsRequestInclude",
          "traits": {
            "smithy.api#httpQuery": "include",
            "smithy.api#documentation": "Output additional objects in the response. Supports multiple comma-separated values."
          }
        },
        "filter_modifiedBefore_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[modifiedBefore]",
            "smithy.api#documentation": "Return records that were modified before the supplied date."
          }
        },
        "filter_modifiedAfter_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[modifiedAfter]",
            "smithy.api#documentation": "Return records that were modified after the supplied date. If a modifiedBefore is also supplied, this will return records between the two dates."
          }
        },
        "filter_createdBefore_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[createdBefore]",
            "smithy.api#documentation": "Return records that were created before the supplied date. If a createdAfter is also supplied, this will return records between the two dates."
          }
        },
        "filter_createdAfter_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[createdAfter]",
            "smithy.api#documentation": "Return records that were created after the supplied date."
          }
        },
        "filter_clientRef_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "filter[clientRef]",
            "smithy.api#documentation": "Return records that match the supplied clientRef."
          }
        },
        "fields": {
          "target": "com.reapit.agentbox#GetContactsRequestFields",
          "traits": {
            "smithy.api#httpQuery": "fields",
            "smithy.api#documentation": "Output additional fields in the response. Supports multiple comma-separated values."
          }
        },
        "orderBy": {
          "target": "com.reapit.agentbox#GetContactsRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "orderBy",
            "smithy.api#documentation": "Order results by appointment start data, appointment end date"
          }
        },
        "order": {
          "target": "com.reapit.agentbox#GetContactsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "order results ASC or DESC"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetContactsResponseContactsItemLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsResponseContactsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "salutation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customSalutation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mobile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "homePhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firstCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "links": {
          "target": "com.reapit.agentbox#GetContactsResponseContactsItemLinks",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsResponseContactsList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetContactsResponseContactsItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contacts": {
          "target": "com.reapit.agentbox#GetContactsResponseContactsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetContacts": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetContactsRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetContactsResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contacts",
          "code": 200
        },
        "smithy.api#documentation": "Returns a set of contact records meeting the supplied criteria"
      }
    },
    "com.reapit.agentbox#NewContactInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.reapit.agentbox#NewContactInputType"
        },
        "customSalutation": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "jobTitle": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "mobile": {
          "target": "smithy.api#String"
        },
        "homePhone": {
          "target": "smithy.api#String"
        },
        "workPhone": {
          "target": "smithy.api#String"
        },
        "streetAddress": {
          "target": "com.reapit.agentbox#Address"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "comments": {
          "target": "smithy.api#String"
        },
        "lastContacted": {
          "target": "smithy.api#String"
        },
        "attachedRelatedStaffMembers": {
          "target": "com.reapit.agentbox#NewContactInputAttachedRelatedStaffMembersList"
        },
        "contactClasses": {
          "target": "com.reapit.agentbox#NewContactInputContactClassesList"
        },
        "subscriptions": {
          "target": "com.reapit.agentbox#NewContactInputSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "List of subscribed newsletters"
          }
        },
        "communicationRestrictions": {
          "target": "com.reapit.agentbox#NewContactInputCommunicationRestrictions"
        }
      },
      "traits": {
        "smithy.api#documentation": "Contact Object used in creation"
      }
    },
    "com.reapit.agentbox#NewContactInputType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Person"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#Address": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String"
        },
        "suburb": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "smithy.api#String"
        },
        "country": {
          "target": "smithy.api#String"
        },
        "postcode": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#NewContactInputAttachedRelatedStaffMembersItem": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#NewContactInputAttachedRelatedStaffMembersList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#NewContactInputAttachedRelatedStaffMembersItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#NewContactInputContactClassesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#NewContactInputContactClassesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#NewContactInputContactClassesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#Subscription": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#NewContactInputSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#Subscription"
      },
      "traits": {
        "smithy.api#documentation": "List of subscribed newsletters"
      }
    },
    "com.reapit.agentbox#NewContactInputCommunicationRestrictions": {
      "type": "structure",
      "members": {
        "doNotCall": {
          "target": "smithy.api#Boolean"
        },
        "doNotSMS": {
          "target": "smithy.api#Boolean"
        },
        "doNotEmail": {
          "target": "smithy.api#Boolean"
        },
        "doNotMail": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#CreateContactRequest": {
      "type": "structure",
      "members": {
        "contact": {
          "target": "com.reapit.agentbox#NewContactInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#CreateContactResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#SimpleContactOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "links": {
          "target": "com.reapit.agentbox#Links"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#Links": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#CreateContactResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.reapit.agentbox#CreateContactResponseStatus"
        },
        "contact": {
          "target": "com.reapit.agentbox#SimpleContactOutput"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#CreateContact": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#CreateContactRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#CreateContactResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/contacts",
          "code": 200
        },
        "smithy.api#documentation": "Allows to create a contacts.\n\nData in the following editable fields will be saved on created contacts:\n- `title`\n- `firstName`\n- `lastName`\n- `type`: Must be either \"Person\" or \"Business\"\n- `customSalutation` (if supplied, will override the system generated `salutation`)\n- `companyName`\n- `jobTitle`\n- `email`\n- `mobile`\n- `homePhone`\n- `workPhone`\n- `streetAddress`\n- `source`: Must be one of the values from GET /contact-sources\n- `comments`\n- `attachedRelatedStaffMembers`:\n  - role: Must be either \"Primary Owner\", \"View Only\", or \"Full Access\"\n  - id: Staff Member ID\n- `contactClasses`: Must be valid values from GET /contact-classes\n- `subscriptions`: Must be valid values from GET /subscription"
      }
    },
    "com.reapit.agentbox#GetContactRequestInclude": {
      "type": "enum",
      "members": {
        "RELATEDSTAFFMEMBERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "relatedStaffMembers"
          }
        },
        "SEARCHREQUIREMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "searchRequirements"
          }
        },
        "PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "permissions"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique Contact Id"
          }
        },
        "include": {
          "target": "com.reapit.agentbox#GetContactRequestInclude",
          "traits": {
            "smithy.api#httpQuery": "include",
            "smithy.api#documentation": "Output additional fields in the response. Supports multiple comma-separated values."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetContactResponseContactStreetAddress": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "suburb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactPostalAddress": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "suburb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postcode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactAttachedRelatedStaffMembersItem": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactAttachedRelatedStaffMembersList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetContactResponseContactAttachedRelatedStaffMembersItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactContactClassesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactContactClassesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetContactResponseContactContactClassesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactSubscriptionsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetContactResponseContactSubscriptionsItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactKeyDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContactCommunicationRestrictions": {
      "type": "structure",
      "members": {
        "doNotCall": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "doNotSMS": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "doNotEmail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "doNotMail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponseContact": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "salutation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customSalutation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "addressTo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "legalName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "jobTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "mobile": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "homePhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workPhone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "streetAddress": {
          "target": "com.reapit.agentbox#GetContactResponseContactStreetAddress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "postalAddress": {
          "target": "com.reapit.agentbox#GetContactResponseContactPostalAddress",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "letterAddressBlock": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "prefContactMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "comments": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "firstCreated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastModified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastContacted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attachedRelatedStaffMembers": {
          "target": "com.reapit.agentbox#GetContactResponseContactAttachedRelatedStaffMembersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactClasses": {
          "target": "com.reapit.agentbox#GetContactResponseContactContactClassesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "subscriptions": {
          "target": "com.reapit.agentbox#GetContactResponseContactSubscriptionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyDates": {
          "target": "com.reapit.agentbox#GetContactResponseContactKeyDatesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "communicationRestrictions": {
          "target": "com.reapit.agentbox#GetContactResponseContactCommunicationRestrictions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetContactResponse": {
      "type": "structure",
      "members": {
        "contact": {
          "target": "com.reapit.agentbox#GetContactResponseContact",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetContact": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetContactRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetContactResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#NotFound"
        },
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contacts/{contactId}",
          "code": 200
        },
        "smithy.api#documentation": "Returns a single contact record"
      }
    },
    "com.reapit.agentbox#ExistingContactInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "firstName": {
          "target": "smithy.api#String"
        },
        "lastName": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.reapit.agentbox#ExistingContactInputType"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "customSalutation": {
          "target": "smithy.api#String"
        },
        "companyName": {
          "target": "smithy.api#String"
        },
        "jobTitle": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "mobile": {
          "target": "smithy.api#String"
        },
        "homePhone": {
          "target": "smithy.api#String"
        },
        "workPhone": {
          "target": "smithy.api#String"
        },
        "streetAddress": {
          "target": "com.reapit.agentbox#Address"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "comments": {
          "target": "smithy.api#String"
        },
        "lastContacted": {
          "target": "smithy.api#String"
        },
        "attachedRelatedStaffMembers": {
          "target": "com.reapit.agentbox#ExistingContactInputAttachedRelatedStaffMembersList"
        },
        "contactClasses": {
          "target": "com.reapit.agentbox#ExistingContactInputContactClassesList"
        },
        "contactClassesAppendable": {
          "target": "smithy.api#Boolean"
        },
        "subscriptions": {
          "target": "com.reapit.agentbox#ExistingContactInputSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "List of subscribed newsletters"
          }
        },
        "subscriptionsAppendable": {
          "target": "smithy.api#Boolean"
        },
        "communicationRestrictions": {
          "target": "com.reapit.agentbox#ExistingContactInputCommunicationRestrictions"
        }
      },
      "traits": {
        "smithy.api#documentation": "Existing Contact Object used in update"
      }
    },
    "com.reapit.agentbox#ExistingContactInputType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Person"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#ExistingContactInputAttachedRelatedStaffMembersItem": {
      "type": "structure",
      "members": {
        "role": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#ExistingContactInputAttachedRelatedStaffMembersList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#ExistingContactInputAttachedRelatedStaffMembersItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#ExistingContactInputContactClassesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#ExistingContactInputContactClassesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#ExistingContactInputContactClassesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#ExistingContactInputSubscriptionsList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#Subscription"
      },
      "traits": {
        "smithy.api#documentation": "List of subscribed newsletters"
      }
    },
    "com.reapit.agentbox#ExistingContactInputCommunicationRestrictions": {
      "type": "structure",
      "members": {
        "doNotCall": {
          "target": "smithy.api#Boolean"
        },
        "doNotSMS": {
          "target": "smithy.api#Boolean"
        },
        "doNotEmail": {
          "target": "smithy.api#Boolean"
        },
        "doNotMail": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#UpdateContactRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Contact Id"
          }
        },
        "contact": {
          "target": "com.reapit.agentbox#ExistingContactInput"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#UpdateContactResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#UpdateContactResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.reapit.agentbox#UpdateContactResponseStatus"
        },
        "contact": {
          "target": "com.reapit.agentbox#SimpleContactOutput"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#UpdateContact": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#UpdateContactRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#UpdateContactResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#NotFound"
        },
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/contacts/{contactId}",
          "code": 200
        },
        "smithy.api#documentation": "Allows to update a contact.\nIt can be used to update contact's editable fields,\nor to subscribe/unsubscribe contacts from specific newsletters.\n\nThe `salutation` field will output a system generated value by default. To override it, set the expected value in the `customSalutation` field.\n\nEditable fields include:\n- `title`\n- `firstName`\n- `lastName`\n- `type`: Must be either \"Person\" or \"Business\"\n- `status`: Must be either \"Active\", \"Archived\", \"Do Not Contact\" or \"Unsubscribed\"\n- `customSalutation` (if supplied, will override the system generated `salutation`)\n- `companyName`\n- `jobTitle`\n- `email`\n- `mobile`\n- `homePhone`\n- `workPhone`\n- `streetAddress`\n- `source`: Must be one of the values from GET /contact-sources\n- `comments`\n- `attachedRelatedStaffMembers`:\n  - role: Must be either \"Primary Owner\", \"View Only\", or \"Full Access\"\n  - id: Staff Member ID\n- `contactClasses`: Must be valid values from GET /contact-classes\n- `subscriptions`: Must be valid values from GET /subscription\n\nThe following flags are used to toggle the behaviour of the corresponding fields to whether append new values or overwrite exisitng values:\n- `attachedRelatedStaffAppendable`: When it is set to `false` or it is not provided, existing `attachedRelatedStaffMembers` will be overwritten.\n  When it is set to `true`, new `attachedRelatedStaffMembers` will be appended.\n- `contactClassesAppendable`: When it is set to `false` or it is not set, existing `contactClasses` will be overwritten.\n  When it is set to `true, new `contactClasses` will be appended.\n- `subscriptionsAppendable`: When it is set to `false` or it is not set, existing `subscriptions` will be overwritten.\n  When it is set to `true, new `subscriptions` will be appended."
      }
    },
    "com.reapit.agentbox#Enquiry": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "attachedContact": {
          "target": "com.reapit.agentbox#EnquiryContact",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "attachedListing": {
          "target": "com.reapit.agentbox#EnquiryAttachedListing"
        },
        "attachedProject": {
          "target": "com.reapit.agentbox#EnquiryAttachedProject"
        },
        "prospectiveBuyerDetails": {
          "target": "com.reapit.agentbox#EnquiryProspectiveBuyer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Enquiry"
      }
    },
    "com.reapit.agentbox#EnquiryContact": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "firstName": {
          "target": "smithy.api#String"
        },
        "lastName": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "mobile": {
          "target": "smithy.api#String"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "actions": {
          "target": "com.reapit.agentbox#EnquiryContactActions"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#EnquiryContactActions": {
      "type": "structure",
      "members": {
        "attachListingAgents": {
          "target": "smithy.api#Boolean"
        },
        "addDefaultContactClasses": {
          "target": "smithy.api#Boolean"
        },
        "addDefaultSubscriptions": {
          "target": "smithy.api#Boolean"
        },
        "addDefaultRequirements": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#EnquiryAttachedListing": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#EnquiryAttachedProject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#EnquiryProspectiveBuyer": {
      "type": "structure",
      "members": {
        "contractTaken": {
          "target": "smithy.api#Boolean"
        },
        "reportTaken": {
          "target": "smithy.api#Boolean"
        },
        "ongoingInterest": {
          "target": "smithy.api#Boolean"
        },
        "followUp": {
          "target": "smithy.api#Boolean"
        },
        "priceFeedback": {
          "target": "smithy.api#Integer"
        },
        "interestLevel": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#CreateEnquiryRequest": {
      "type": "structure",
      "members": {
        "enquiry": {
          "target": "com.reapit.agentbox#Enquiry"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#CreateEnquiryResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "success"
          }
        },
        "FAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fail"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#CreateEnquiryResponseEnquiryLinks": {
      "type": "structure",
      "members": {
        "self": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#CreateEnquiryResponseEnquiry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "links": {
          "target": "com.reapit.agentbox#CreateEnquiryResponseEnquiryLinks"
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#CreateEnquiryResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.reapit.agentbox#CreateEnquiryResponseStatus"
        },
        "enquiry": {
          "target": "com.reapit.agentbox#CreateEnquiryResponseEnquiry"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#CreateEnquiry": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#CreateEnquiryRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#CreateEnquiryResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enquiries",
          "code": 200
        },
        "smithy.api#documentation": "Allows for creation of a enquiry.\nIt can be used to post a general enquiry, or a listing/project enquiry.\n\n*The following data is needed to create a general enquiry:*\n- `attachedContact`: An contact object. See `/POST contacts`.\n  - If `id` is not provided within the contact data, the system will first try to match an existing contact based on the given email or mobile.\n    If no match is found, a new contact will be created. If an existing contact is matched, it will be attached to the enquiry and it will not be overwritten.\n    To update an existing contact please use `PUT /contacts` endpoint.\n  - The below flags are options under the `attachedContact`->`actions` object\n    - `attachListingAgents`: When set to true, listing agent(s) will be attached to the contact.\n    - `addDefaultContactClasses`: When set to true, system default contact classes for the enquiry type will be attached to the contact.\n    - `addDefaultSubscriptions`: When set to true, system default subscriptions for the enquiry type will be attached to the contact.\n    - `addDefaultRequirements`: When set to true, system default requirements for the enquiry type will be attached to the contact.\n\n- `comment`: Enquiry content\n\n*To create a listing/project enquiry, one of the following data is needed in addition to the above mandatory data:*\n- `attachedListing`: An object containing listing Id.\n- `attachedProject`: An object containing project Id.\n\n\nThe following data is optional:\n- `date`: ISO 8601 date. Current datetime will be used if not provided. Default timezone will be used if timezone is not specified.\n- `type`: Must be one of the values from `GET /enquiry-types`\n- `source`: Must be one of the values from `GET /enquiry-sources`\n- `prospectiveBuyerDetails`: (for listing/project enquiry)\n  - `contractTaken`: Boolean\n  - `reportTaken`: Boolean\n  - `ongoingInterest`: Boolean\n  - `followUp`: Boolean\n  - `priceFeedback`: Integer\n  - `interestLevel`: Must be one of the values from `GET /enquiry-interest-levels`"
      }
    },
    "com.reapit.agentbox#GetEnquiryInterestLevelsRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which page of results should be returned"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of records to return per page (Default 20)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetEnquiryInterestLevelsResponseEnquiryInterestLevelsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetEnquiryInterestLevelsResponseEnquiryInterestLevelsList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetEnquiryInterestLevelsResponseEnquiryInterestLevelsItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetEnquiryInterestLevelsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enquiryInterestLevels": {
          "target": "com.reapit.agentbox#GetEnquiryInterestLevelsResponseEnquiryInterestLevelsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetEnquiryInterestLevels": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetEnquiryInterestLevelsRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetEnquiryInterestLevelsResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enquiry-interest-levels",
          "code": 200
        },
        "smithy.api#documentation": "Returns a set of enquiry interest levels"
      }
    },
    "com.reapit.agentbox#GetEnquirySourcesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which page of results should be returned"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of records to return per page (Default 20)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetEnquirySourcesResponseEnquirySourcesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetEnquirySourcesResponseEnquirySourcesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetEnquirySourcesResponseEnquirySourcesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetEnquirySourcesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enquirySources": {
          "target": "com.reapit.agentbox#GetEnquirySourcesResponseEnquirySourcesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetEnquirySources": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetEnquirySourcesRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetEnquirySourcesResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enquiry-sources",
          "code": 200
        },
        "smithy.api#documentation": "Returns a set of enquiry sources"
      }
    },
    "com.reapit.agentbox#GetEnquiryTypesRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Which page of results should be returned"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "The number of records to return per page (Default 20)"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.reapit.agentbox#GetEnquiryTypesResponseEnquiryTypesItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetEnquiryTypesResponseEnquiryTypesList": {
      "type": "list",
      "member": {
        "target": "com.reapit.agentbox#GetEnquiryTypesResponseEnquiryTypesItem"
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetEnquiryTypesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enquiryTypes": {
          "target": "com.reapit.agentbox#GetEnquiryTypesResponseEnquiryTypesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.reapit.agentbox#GetEnquiryTypes": {
      "type": "operation",
      "input": {
        "target": "com.reapit.agentbox#GetEnquiryTypesRequest"
      },
      "output": {
        "target": "com.reapit.agentbox#GetEnquiryTypesResponse"
      },
      "errors": [
        {
          "target": "com.reapit.agentbox#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/enquiry-types",
          "code": 200
        },
        "smithy.api#documentation": "Returns a set of enquiry types"
      }
    },
    "com.reapit.agentbox#GetListingsRequestFilterType": {
      "type": "enum",
      "members": {
        "SALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sale"
          }
        },
        "LEASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lease"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetListingsRequestFilterStatus": {
      "type": "enum",
      "members": {
        "APPRAISAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Appraisal"
          }
        },
        "PRESENTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Presentation"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "CONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Conditional"
          }
        },
        "UNCONDITIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unconditional"
          }
        },
        "SETTLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Settled"
          }
        },
        "LEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Leased"
          }
        },
        "WITHDRAWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Withdrawn"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Archived"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetListingsRequestFilterMarketingStatus": {
      "type": "enum",
      "members": {
        "NOT_LISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not Listed"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "UNDER_CONTRACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Under Contract"
          }
        },
        "SOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sold"
          }
        },
        "LEASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Leased"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetListingsRequestFilterPropertyType": {
      "type": "enum",
      "members": {
        "RESIDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Residential"
          }
        },
        "RURAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Rural"
          }
        },
        "COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Commercial"
          }
        },
        "HOLIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Holiday"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business"
          }
        }
      },
      "traits": {}
    },
    "com.reapit.agentbox#GetListingsRequestFilterPropertyCategory": {
      "type": "enum",
      "members": {
        "APARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Apartment"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Development"
          }
        },
        "FACTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Factory"
          }
        },
        "HOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "House"
          }
        },
        "LAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Land"
          }
        },
        "OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Office"
          }
        },
        "SEMI_DUPLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Semi/Duplex"
          }
        },
        "RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retail"
          }
        },
        "STUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Studio"
          }
        },
        "BLOCK_OF_UNITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Block Of Units"
          }
        },
        "TERRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terrace"
          }
        },
        "TOWNHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Townhouse"
          }
        },
        "UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unit"
          }
        },
        "VILLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Villa"
          }
        },
        "WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warehouse"
          }
        },
        "SHOWROOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Showroom"
          }
        },
        "CROPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cropping"
          }
        },
        "DAIRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dairy"
          }
        },
        "FARMLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Farmlet"
          }
        },
        "HORTICULTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Horticulture"
          }
        },
        "LIFESTYLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lifestyle"
          }
        },
        "LIVESTOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Livestock"
          }
        },
        "VITICULTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Viticulture"
          }
        },
        "MIXED_FARMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mixed Farming"
          }
        },
        "ACREAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Acreage"
          }
        },
        "HOTEL_LEISURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Hotel/Leisure"
          }
        },
        "MEDICAL_CONSULTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Medical/Consulting"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "ALPINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alpine"
          }
        },
        "BACKPACKERHOSTEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BackpackerHostel"
          }
        },
        "BEDANDBREAKFAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BedAndBreakfast"
          }
        },
        "CAMPGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Campground"
          }
        },
        "CARAVANHOLIDAYPARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CaravanHolidayPark"
          }
        },
        "EXECUTIVERENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExecutiveRental"
          }
        },
        "FARMSTAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FarmStay"
          }
        },
        "FLAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flat"
          }
        },
        "HOUSEBOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HouseBoat"
          }
        },
        "LODGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lodge"
          }
        },
        "MOTEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Motel"
          }
        },
        "RESORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resort"
          }
        },
        "RETREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retreat"
          }
        },
        "SELFCONTAINEDCOTTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SelfContainedCottage"
          }
        },
        "SERVICEDAPARTMENT": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
