openapi: 3.0.1
info:
  title: VaultRE
  description: Please ensure all API requests use HTTP/1.1. See https://github.com/VaultGroup/api-samples
    for code samples.
  contact:
    name: VaultRE
    url: https://www.vaultre.com.au
    email: api@vaultre.com.au
  version: "1.3"
servers:
- url: https://ap-southeast-2.api.vaultre.com.au/api/v1.3
tags:
- name: advertising
  description: Operations related to property and agent advertising
- name: categories
  description: Operations related to categories
- name: lists
  description: Operations related to distribution lists
- name: contacts
  description: Operations related to contacts
- name: precincts
  description: Operations related to precincts
- name: user
  description: Operations related to users
- name: properties
  description: Operations related to properties
- name: conjunctionals
  description: Operations related to conjunctional property deals
- name: openhomes
  description: Operations related to open homes
- name: propertyOfferConditions
  description: Operations related to property offer conditions
- name: propertyOffer
  description: Operations related to property offers
- name: feedback
  description: Operations related to property feedback
- name: residentialProperties
  description: Operations related to residential properties
- name: ruralProperties
  description: Operations related to rural properties
- name: commercialProperties
  description: Operations related to commercial properties
- name: businessProperties
  description: Operations related to business properties
- name: landProperties
  description: Operations related to land properties
- name: holidayRentalProperties
  description: Operations related to holiday rental properties
- name: livestockProperties
  description: Operations related to livestock properties
- name: clearingSalesProperties
  description: Operations related to clearing sales properties
- name: search
  description: Operations related to performing searches
- name: suggest
  description: Operations related to suggest services
- name: buildings
  description: Operations related to buildings
- name: calendar
  description: Operations related to calendar events
- name: tasks
  description: Operations related to tasks
- name: corelogic
  description: Operations related to CoreLogic
- name: reinz
  description: Operations related to REINZ
- name: types
  description: Operations related to various VaultRE object types
- name: enquiries
  description: Operations related to listing enquiries
- name: fmsleads
  description: Operations related to FMS leads
- name: propertyStats
  description: Operations related to property portal stats
- name: integrator
  description: Special endpoints for access by integrating partners
- name: sms
  description: Operations related to SMS
- name: email
  description: Operations related to email
- name: templates
  description: Operations related to SMS and email templates
- name: mergeFields
  description: Operations related to merge fields for SMS and email templates
- name: maintenance
  description: Operations related to maintenance jobs
- name: inspections
  description: Operations related to inspections
- name: suppliers
  description: Operations related to creditors / suppliers
- name: bulk
  description: Bulk operations
- name: deals
  description: Operations related to commercial deals
- name: suburbs
  description: Operations related to suburbs
- name: messages
  description: Operations related to franchise and user messages
- name: keys
  description: Operations related to property keys
- name: eventStream
  description: Operations related to the event stream
- name: campaigns
  description: Operations related to marketing campaigns
- name: tenancies
  description: Operations related to tenancies
- name: invoices
  description: Operations related to invoices
- name: aml
  description: Operations related to AML checks
paths:

  /eventStream:
    get:
      tags:
      - eventStream
      summary: Poll the event stream
      description: Retrieve events from the event stream.
      operationId: getEventStream
      parameters:
      - name: eventsSince
        in: query
        description: Retrieve events since this date. Note that events expire after 30 days.
        schema:
          type: string
          format: date-time
      - name: cursor
        in: query
        description: Used for pagination. Retrieve results starting from this cursor position.
        schema:
          type: string
      responses:
        200:
          description: Events retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventStreamItem'
                  urls:
                    type: object
                    properties:
                      next:
                        type: string
      security:
      - Api-Key: []
        Bearer: []
  /integrator/accounts:
    get:
      tags:
      - integrator
      summary: Retrieve a list of accounts linked to this integrator
      description: Retrieve a list of accounts linked to this integrator
      operationId: getIntegratorAccounts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Accounts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /integrator/accounts/{id}:
    get:
      tags:
      - integrator
      summary: Retrieve an account linked to this integrator
      description: Retrieve an account linked to this integrator
      operationId: getIntegratorAccount
      parameters:
      - name: id
        in: path
        description: ID of the account
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Account retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      security:
      - Api-Key: []
        Bearer: []
  /integrator/accounts/{id}/users:
    get:
      tags:
      - integrator
      summary: Retrieve a list of users for this account
      description: Retrieve a list of users for this account
      operationId: getIntegratorAccountUsers
      parameters:
      - name: id
        in: path
        description: ID of the account
        required: true
        schema:
          type: integer
          format: int64
      - name: email
        in: query
        description: Filter users matching the given email address
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - firstName
          - lastName
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Users retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /integrator/accounts/{accountid}/users/{id}:
    get:
      tags:
      - integrator
      summary: Retrieve a user for this account
      description: Retrieve a user for this account
      operationId: getIntegratorAccountUser
      parameters:
      - name: accountid
        in: path
        description: ID of the account
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the user
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - Api-Key: []
        Bearer: []
  /integrator/scopes:
    get:
      tags:
      - integrator
      summary: Retrieve a list of possible scopes for your API key
      description: Retrieve a list of possible scopes for your API key. Note that
        individual bearer tokens may have fewer scopes applied.
      operationId: getIntegratorScopes
      responses:
        200:
          description: Scopes retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - Api-Key: []
        Bearer: []
  /integrator/tokens:
    get:
      tags:
      - integrator
      summary: Retrieve a list of bearer tokens, with accounts, linked to this integrator
      description: Retrieve a list of bearer tokens, with accounts, linked to this
        integrator
      operationId: getIntegratorTokens
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: accountId
        in: query
        description: Filter tokens belonging to this account ID
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Tokens retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Token'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /integrator/validateUser:
    post:
      tags:
      - integrator
      summary: Validate a user's credentials
      description: Validate a user's credentials
      operationId: validateIntegratorUser
      requestBody:
        description: Credential object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
        required: true
      responses:
        200:
          description: API Call completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                    format: int64
                  accountId:
                    type: integer
                    format: int64
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /integrator/merge-fields:
    get:
      tags:
      - integrator
      summary: Retrieve available merge fields for an account
      description: |-
        Integrator-authenticated version of the merge fields endpoint.
        Returns available merge fields for a given template type and delivery method for the specified account.
        The account must be enabled for the integrator.
        When `context` is omitted, returns a tiered response grouping fields by their availability requirements.
        When `context` is provided, returns a flat response containing only the fields usable in that context.
      operationId: getIntegratorMergeFields
      parameters:
      - name: account_id
        in: query
        description: ID of the account to fetch merge fields for. Must be enabled for this integrator.
        required: true
        schema:
          type: integer
          format: int64
      - name: template_type
        in: query
        description: Template type ID (e.g. market_report, buyer_match, property_alert).
        required: true
        schema:
          type: string
      - name: delivery_method
        in: query
        description: Delivery method to filter fields by. Defaults to email.
        schema:
          type: string
          enum:
          - email
          - sms
          - cloud_letter
          default: email
      - name: context
        in: query
        description: |-
          Context ID (e.g. contact_only, contact_property_sale). When provided the response
          is a flat list of fields usable in that context. When omitted the response is tiered
          showing all availability levels.
        schema:
          type: string
      - name: include_custom
        in: query
        description: Include account-specific custom contact and property merge fields.
        schema:
          type: boolean
          default: false
      - name: search
        in: query
        description: Filter fields by matching against the field name, description, or token.
        schema:
          type: string
      responses:
        200:
          description: Merge fields retrieved
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/MergeFieldsTieredResponse'
                - $ref: '#/components/schemas/MergeFieldsFlatResponse'
        400:
          description: account_id is required, or an invalid parameter value was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        404:
          description: Account not found or not enabled for this integrator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /properties/{propertyid}/{salelease}/{lifeid}/externalStats:
    put:
      tags:
      - integrator
      summary: Integrator property statistics
      description: Update the property stats
      operationId: updateExternalPropertyStats
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease
        required: true
        schema:
          type: string
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: List of property stats
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegratorPropertyStats'
        required: true
      responses:
        200:
          description: Property stats updated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UpdateIntegratorPropertyStats'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - integrator
      summary: Integrator property statistics
      description: Add or update a property stat
      operationId: updateExternalPropertyStat
      parameters:
      - name: propertyid
        in: path
        description: ID of the property
        required: true
        schema:
          type: integer
          format: int64
      - name: salelease
        in: path
        description: Sale or lease
        required: true
        schema:
          type: string
      - name: lifeid
        in: path
        description: ID of the property life
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Property stat to add or update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegratorPropertyStat'
        required: true
      responses:
        200:
          description: Property stats updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratorPropertyStat'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /scopes:
    get:
      tags:
      - integrator
      summary: Retrieve a list of granted scopes for this bearer token
      description: Retrieve a list of granted scopes for this bearer token
      operationId: getTokenScopes
      responses:
        200:
          description: Scopes retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      security:
      - Api-Key: []
        Bearer: []
  /responseCodes:
    get:
      tags:
      - types
      summary: Retrieve a list of response codes used in this API
      description: Retrieve a list of response codes used in this API
      operationId: getResponseCodes
      responses:
        200:
          description: Response codes retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResponseCode'
      security:
      - Api-Key: []
  /types/propertyClass:
    get:
      tags:
      - types
      summary: Retrieve a list of property classes
      description: Retrieve a list of property classes
      operationId: getPropertyClasses
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property classes retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PropertyClass'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /types/propertyType:
    get:
      tags:
      - types
      summary: Retrieve a list of property types
      description: Retrieve a list of property types applicable to this account
      operationId: getPropertyTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PropertyType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []

  /types/customUnsubscribe:
    get:
      tags:
      - types
      summary: Retrieve a list of custom unsubscribe types
      description: Retrieve a list of custom unsubscribe types for this account
      operationId: getCustomUnsubscribeTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Custom unsubscribe types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnsubscribeType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []

  /types/contactInterest:
    get:
      tags:
      - types
      summary: Retrieve a list of contact interest types
      description: Retrieve a list of contact interest types
      operationId: getContactInterestTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact interest types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactInterest'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /types/entityTypes:
    get:
      tags:
      - types
      summary: Retrieve a list of contact entity types
      description: Retrieve a list of contact entity types
      operationId: getContactEntityTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntityType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /types/externalLinks:
    get:
      tags:
      - types
      summary: Retrieve a list of property external link types
      description: Retrieve a list of property external link types
      operationId: getExternalLinkTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExternalLinkType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /types/contactnotes:
    get:
      tags:
      - types
      summary: Retrieve a list of contact note types for this account
      description: Retrieve a list of contact note types for this account
      operationId: getContactNoteTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Note types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactNoteType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /types/contactnotes/{id}:
    get:
      tags:
      - types
      summary: Retrieve a single contact note type
      description: Retrieve a single contact note type
      operationId: getContactNoteType
      parameters:
      - name: id
        in: path
        description: ID of the note type
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Note type retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNoteType'
      security:
      - Api-Key: []
        Bearer: []
  /types/propertynotes:
    get:
      tags:
      - types
      summary: Retrieve a list of property note types for this account
      description: Retrieve a list of property note types for this account
      operationId: getPropertyNoteTypes
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Note types retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PropertyNoteType'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /types/propertynotes/{id}:
    get:
      tags:
      - types
      summary: Retrieve a single property note type
      description: Retrieve a single property note type
      operationId: getPropertyNoteType
      parameters:
      - name: id
        in: path
        description: ID of the note type
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Note type retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNoteType'
      security:
      - Api-Key: []
        Bearer: []
  /buildings:
    get:
      tags:
      - buildings
      summary: Retrieve a list of buildings
      description: Retrieve a list of buildings
      operationId: getBuildings
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Buildings retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Building'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - buildings
      summary: Create a building record
      description: Create a building record
      operationId: addBuilding
      requestBody:
        description: Building object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateBuilding'
        required: true
      responses:
        200:
          description: Building already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        201:
          description: Building created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /buildings/{id}:
    get:
      tags:
      - buildings
      summary: Retrieve a single building
      description: Retrieve a single building
      operationId: getBuilding
      parameters:
      - name: id
        in: path
        description: ID of the building
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Building retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - buildings
      summary: Update the building
      description: Update the building
      operationId: updateBuilding
      parameters:
      - name: id
        in: path
        description: ID of the building
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Building object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateBuilding'
        required: true
      responses:
        200:
          description: Building updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Building'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - buildings
      summary: Delete the building
      description: Delete the building
      operationId: deleteBuilding
      parameters:
      - name: id
        in: path
        description: ID of the building
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Building deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /categories/contact/groups:
    get:
      tags:
      - categories
      summary: Retrieve a list of contact category groups
      description: Retrieve a list of contact category groups
      operationId: getContactCategoryGroups
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact category groups retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryGrouping'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - categories
      summary: Create a contact category grouping
      description: Create a contact category grouping
      operationId: addContactCategoryGroup
      requestBody:
        description: Category Grouping object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategoryGrouping'
        required: true
      responses:
        201:
          description: Category grouping created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGroupingSimple'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /categories/contact/groups/{id}:
    get:
      tags:
      - categories
      summary: Retrieve a single contact category group
      description: Retrieve a single contact category group
      operationId: getContactCategoryGroup
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category group retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGrouping'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - categories
      summary: Update a contact category grouping
      description: Update a contact category grouping
      operationId: updateContactCategoryGroup
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Category Grouping object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategoryGrouping'
        required: true
      responses:
        200:
          description: Category grouping updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGroupingSimple'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /categories/contact/groups/{id}/categories:
    get:
      tags:
      - categories
      summary: Retrieve a list of categories in this contact category group
      description: Retrieve a list of categories in this contact category group
      operationId: getContactCategoryGroupCategories
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Categories retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - categories
      summary: Create a contact category in this grouping
      description: Create a contact category in this grouping
      operationId: addContactCategoryGroupCategory
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Category object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategory'
        required: true
      responses:
        201:
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /categories/contact/groups/{groupingid}/categories/{id}:
    get:
      tags:
      - categories
      summary: Retrieve a single category in this contact category group
      description: Retrieve a single category in this contact category group
      operationId: getContactCategoryGroupCategory
      parameters:
      - name: groupingid
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - categories
      summary: Update a contact category in this grouping
      description: Update a contact category in this grouping
      operationId: updateContactCategoryGroupCategory
      parameters:
      - name: groupingid
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Category object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddUpdateCategory'
        required: true
      responses:
        200:
          description: Category updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /categories/contact:
    get:
      tags:
      - categories
      summary: Retrieve a list of contact categories
      description: Retrieve a list of contact categories
      operationId: getContactCategories
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Categories retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /categories/contact/{id}:
    get:
      tags:
      - categories
      summary: Retrieve a single contact category
      description: Retrieve a single contact category
      operationId: getContactCategory
      parameters:
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      security:
      - Api-Key: []
        Bearer: []
  /categories/property/groups:
    get:
      tags:
      - categories
      summary: Retrieve a list of property category groups
      description: Retrieve a list of property category groups
      operationId: getPropertyCategoryGroups
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Property category groups retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryGrouping'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /categories/property/groups/{id}:
    get:
      tags:
      - categories
      summary: Retrieve a single property category group
      description: Retrieve a single property category group
      operationId: getPropertyCategoryGroup
      parameters:
      - name: id
        in: path
        description: ID of the category group
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category group retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryGrouping'
      security:
      - Api-Key: []
        Bearer: []
  /categories/property:
    get:
      tags:
      - categories
      summary: Retrieve a list of property categories
      description: Retrieve a list of property categories
      operationId: getPropertyCategories
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Categories retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /categories/property/{id}:
    get:
      tags:
      - categories
      summary: Retrieve a single property category
      description: Retrieve a single property category
      operationId: getPropertyCategory
      parameters:
      - name: id
        in: path
        description: ID of the category
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Category retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
      security:
      - Api-Key: []
        Bearer: []
  /contacts:
    get:
      tags:
      - contacts
      summary: Retrieve a list of contacts
      description: Retrieve a list of contacts
      operationId: getContacts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - $ref: '#/components/parameters/modifiedSince'
      - $ref: '#/components/parameters/modifiedBefore'
      - name: lists
        in: query
        description: Filter contacts belonging to distribution list IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: categories
        in: query
        description: Filter contacts belonging to category IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: entityType
        in: query
        description: Filter contacts by entity type
        schema:
          type: integer
          format: int64
      - name: archived
        in: query
        description: Filter contacts by archived status
        schema:
          type: boolean
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - firstName
          - lastName
          - inserted
          - modified
          - touched
      - $ref: '#/components/parameters/sortOrder'
      - name: marketingUser
        in: query
        description: Filter by marketing user(s)
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: marketingUserPosition
        in: query
        description: Used in conjuction with marketingUser, filter by marketing user
          position ID
        schema:
          type: integer
          format: int64
      - name: accessBy
        in: query
        description: Filter contacts accessible by these user IDs. NOTE - Use the ID "-1" to filter contacts which are accessible by Everyone.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      responses:
        200:
          description: Contacts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - contacts
      summary: Create a contact
      description: Create a contact
      operationId: addContact
      requestBody:
        description: Contact object
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/AddContact'
        required: true
      responses:
        201:
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{id}:
    get:
      tags:
      - contacts
      summary: Retrieve a single contact
      description: Retrieve a single contact
      operationId: getContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactExtended'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - contacts
      summary: Update a single contact
      description: Update a single contact
      operationId: updateContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContact'
        required: true
      responses:
        200:
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - contacts
      summary: Delete a contact
      description: Delete a contact
      operationId: deleteContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Contact deleted
          content: {}
        400:
          description: Invalid data
          content: {}
        403:
          description: User does not have permission to delete contacts
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/sms:
    post:
      tags:
      - contacts
      - sms
      summary: Send an SMS to this contact
      description: Send an SMS to this contact from the authenticated user or selected
        user (charges may apply).
      operationId: sendContactSMS
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: SMS object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMS'
        required: true
      responses:
        201:
          description: SMS message queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send SMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/sms:
    post:
      tags:
      - contacts
      - sms
      summary: Send multiple SMS messages to contacts
      description: Send multiple SMS messages to these contacts from the authenticated
        user or selected user (charges may apply). Maximum 50 recipients in any one
        request.
      operationId: sendBulkContactSMS
      requestBody:
        description: Array of SMS objects
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  $ref: '#/components/schemas/ID'
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/BulkSMS'
        required: true
      responses:
        201:
          description: SMS messages queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send SMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{id}/email:
    post:
      tags:
      - contacts
      - email
      summary: Send an email to this contact
      description: Send an email to this contact from the authenticated user or selected
        user (if provided).
      operationId: sendContactEmail
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Email object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
        required: true
      responses:
        201:
          description: Email message queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/email:
    post:
      tags:
      - contacts
      - email
      summary: Send multiple emails to contacts
      description: Send multiple emails to these contacts from the authenticated user
        or selected user (if provided). Maximum 50 recipients in any one request.
      operationId: sendBulkContactEmail
      requestBody:
        description: Array of Email objects
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  $ref: '#/components/schemas/ID'
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/BulkEmail'
        required: true
      responses:
        201:
          description: Email messages queued to be sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to send email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{id}/context:
    get:
      tags:
      - contacts
      summary: Retrieve contextual information about this contact
      description: Retrieve contextual information about this contact
      operationId: getContactContext
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact context retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactContext'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/recentlyAccessed:
    get:
      tags:
      - contacts
      summary: Retrieve a list of recently accessed contacts
      description: Retrieve a list of recently accessed contacts
      operationId: getRecentlyAccessedContacts
      parameters:
      - name: archived
        in: query
        description: Filter contacts by archived status
        schema:
          type: boolean
      responses:
        200:
          description: Contacts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/notes:
    get:
      tags:
      - contacts
      summary: Retrieve a list of notes attached to this contact
      description: Retrieve a list of notes attached to this contact
      operationId: getContactNotes
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: types
        in: query
        description: Filter notes with type IDs
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact notes retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactNote'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - contacts
      summary: Add a note to this contact
      description: Add a note to this contact
      operationId: addContactNote
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactNote'
        required: true
      responses:
        201:
          description: Contact note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNoteExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/notes:
    post:
      tags:
      - contacts
      summary: Add multiple contact notes
      description: Add multiple contact notes in a batch. Maximum 100 notes in any
        one request.
      operationId: addBulkContactNote
      requestBody:
        description: Bulk contact note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkContactNote'
        required: true
      responses:
        201:
          description: Contact notes created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{contactid}/notes/{id}:
    get:
      tags:
      - contacts
      summary: Retrieve a single contact note
      description: Retrieve a single contact note
      operationId: getContactNote
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact note retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNoteExtended'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - contacts
      summary: Update a contact note
      description: Update a contact note
      operationId: updateContactNote
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact Note object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContactNote'
        required: true
      responses:
        200:
          description: Note updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactNoteExtended'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to modify contact notes or note
            is read-only
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - contacts
      summary: Delete a contact note
      description: Delete a contact note
      operationId: deleteContactNote
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the note
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Contact Note deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        403:
          description: User does not have permission to delete contact notes or note
            is read-only
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/categories:
    get:
      tags:
      - contacts
      summary: Retrieve a list of categories to which this contact belongs
      description: Retrieve a list of categories to which this contact belongs
      operationId: getCategoriesContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Contact categories retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - contacts
      summary: Update the categories to which this contact belongs
      description: Update the categories to which this contact belongs
      operationId: updateCategoriesContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact category IDs
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Contact categories updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    post:
      tags:
      - contacts
      summary: Attach one or more categories to this contact
      description: Attach one or more categories to this contact
      operationId: attachCategoryContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact category IDs
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Contact category attached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{id}/categories/remove:
    put:
      tags:
      - contacts
      summary: Remove categories from this contact
      description: Remove categories from this contact
      operationId: removeCategoryContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of contact category IDs
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ID'
        required: true
      responses:
        200:
          description: Contact categories removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{id}/custom:
    get:
      tags:
      - contacts
      summary: Retrieve a list of custom fields for this contact
      description: Retrieve a list of custom fields for this contact
      operationId: getContactCustomFields
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Custom fields retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldGrouping'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - contacts
      summary: Update the custom fields for this contact
      description: Update the custom fields for this contact
      operationId: updateContactCustomFields
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Items object containing array of custom fields
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/AddUpdateCustomField'
        required: true
      responses:
        200:
          description: Custom fields updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{id}/files:
    get:
      tags:
      - contacts
      summary: Retrieve a list of files attached to this contact
      description: Retrieve a list of files attached to this contact
      operationId: getContactFiles
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Files retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactFile'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - contacts
      summary: Attach a file to this contact
      description: Attach a file to this contact. This endpoint is suitable for smaller
        files (<5MB). For larger files use POST /contacts/{id}/files/upload
      operationId: addContactFile
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                file:
                  type: string
                  description: The file to be uploaded
                  format: binary
        required: true
      responses:
        201:
          description: File attached successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFile'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/files/upload:
    post:
      tags:
      - contacts
      summary: Attach a file to this contact
      description: Attach a file to this contact. This endpoint returns an upload_url
        where the file data can be PUT. Can be used for large files.
      operationId: addContactFileUpload
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: File upload object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactFileUpload'
        required: true
      responses:
        201:
          description: File record created. File data can now be posted to the returned
            URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileToBeUploaded'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{contactid}/files/{id}:
    get:
      tags:
      - contacts
      summary: Retrieve a single file attached to this contact
      description: Retrieve a single file attached to this contact
      operationId: getContactFile
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the file
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: File retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactFile'
      security:
      - Api-Key: []
        Bearer: []
    delete:
      tags:
      - contacts
      summary: Delete a file attached to this contact
      description: Delete a file attached to this contact
      operationId: deleteContactFile
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the file
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: File deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/events:
    get:
      tags:
      - contacts
      - calendar
      summary: Retrieve a list of calendar events attached to this contact
      description: Retrieve a list of calendar events attached to this contact
      operationId: getContactEvents
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - start
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Calendar events retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CalendarEvent'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/touch:
    put:
      tags:
      - contacts
      summary: Mark the contact record as touched
      description: Mark the contact record as touched
      operationId: touchContact
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact touched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /contacts/{id}/requirements:
    get:
      tags:
      - contacts
      summary: Retrieve a list of buying/renting requirements for this contact
      description: Retrieve a list of buying/renting requirements for this contact
      operationId: getContactRequirements
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: active
        in: query
        description: Filter active/inactive requirements
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - inserted
          - modified
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: Requirements retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactRequirement'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
    post:
      tags:
      - contacts
      summary: Add a requirement for this contact
      description: Add a requirement for this contact
      operationId: addContactRequirement
      parameters:
      - name: id
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact Requirement object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateContactRequirement'
        required: true
      responses:
        201:
          description: Contact Requirement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRequirement'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /contacts/{contactid}/requirements/{id}:
    get:
      tags:
      - contacts
      summary: Retrieve a single buying/renting requirement for this contact
      description: Retrieve a single buying/renting requirement for this contact
      operationId: getContactRequirement
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the requirement
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200:
          description: Contact requirement retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRequirement'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - contacts
      summary: Update a requirement for this contact
      description: Update a requirement for this contact
      operationId: updateContactRequirement
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the requirement
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        description: Contact Requirement object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUpdateContactRequirement'
        required: true
      responses:
        200:
          description: Contact Requirement updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactRequirement'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
    delete:
      tags:
      - contacts
      summary: Delete a buying/renting requirement for the contact
      description: Delete a buying/renting requirement for the contact
      operationId: deleteContactRequirement
      parameters:
      - name: contactid
        in: path
        description: ID of the contact
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        description: ID of the requirement
        required: true
        schema:
          type: integer
          format: int64
      responses:
        204:
          description: Requirement deleted
          content: {}
        400:
          description: Invalid data
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
  /user:
    get:
      tags:
      - user
      summary: Retrieve information about the authenticated user
      description: Retrieve information about the authenticated user
      operationId: getUser
      responses:
        200:
          description: User retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAndTeams'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - user
      summary: Update the authenticated user
      description: Update the authenticated user
      operationId: updateMeUser
      requestBody:
        description: User object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
        required: true
      responses:
        200:
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAndTeams'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /user/subscriptions:
    get:
      tags:
      - user
      summary: Retrieve active subscriptions for the authenticated user
      description: Retrieve active subscriptions for the authenticated user
      operationId: getUserSubscriptions
      responses:
        200:
          description: User subscriptions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSubscriptions'
      security:
      - Api-Key: []
        Bearer: []
  /user/teams:
    get:
      tags:
      - user
      summary: Retrieve a list of teams to which the authenticated user belongs
      description: Retrieve a list of teams to which the authenticated user belongs
      operationId: getUserTeams
      parameters:
      - name: sort
        in: query
        description: Field by which to sort the results.
        schema:
          type: string
          enum:
          - name
      - $ref: '#/components/parameters/sortOrder'
      responses:
        200:
          description: User teams retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /user/summary/grossCommission:
    get:
      tags:
      - user
      summary: Retrieve a summary of recent gross commission for the authenticated
        user
      description: Retrieve a month by month summary of recent gross commission (previous
        six months) for the authenticated user
      operationId: getUserSummaryGrossCommission
      responses:
        200:
          description: Summary retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  months:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        value:
                          type: number
                          format: float
      security:
      - Api-Key: []
        Bearer: []
  /user/upcomingOfferConditions:
    get:
      tags:
      - user
      summary: Retrieve a list of upcoming offer conditions for the authenticated
        user
      description: Retrieve a list of upcoming offer conditions for the authenticated
        user
      operationId: getUserUpcomingOfferConditions
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 8)
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Conditions retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PropertyOfferConditionWithProperty'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /user/upcomingOpenHomes:
    get:
      tags:
      - user
      summary: Retrieve a list of upcoming open homes for the authenticated user
      description: Retrieve a list of upcoming open homes for the authenticated user
      operationId: getUserUpcomingOpenHomes
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 7)
        schema:
          type: integer
          format: int64
      - name: includeRecent
        in: query
        description: Include recently completed open homes
        schema:
          type: boolean
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Open Homes retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OpenHomeWithProperty'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /user/tenancyInspections:
    get:
      tags:
      - user
      summary: Retrieve a list of upcoming and recent inspections for the authenticated
        user
      description: Retrieve a list of upcoming and recent inspections for the authenticated
        user
      operationId: getUserTenancyInspections
      parameters:
      - name: days
        in: query
        description: Number of days to look ahead and back (default 7). Only used
          if start and end are undefined.
        schema:
          type: integer
          format: int64
      - name: includeRecent
        in: query
        description: Include recently completed inspections. Used in conjuction with
          days argument.
        schema:
          type: boolean
      - name: start
        in: query
        description: Filter inspections starting on or after this datetime. Takes
          precendent over days argument.
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: Filter inspections starting before this datetime. Takes precendent
          over days argument.
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/pagesize'
      responses:
        200:
          description: Inspections retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/InspectionWithProperty'
                  totalItems:
                    type: integer
                    format: int64
                  totalPages:
                    type: integer
                    format: int64
                  urls:
                    $ref: '#/components/schemas/Urls'
      security:
      - Api-Key: []
        Bearer: []
  /user/credentials:
    put:
      tags:
      - user
      summary: Update the credentials for the authenticated user
      description: Update the credentials for the authenticated user
      operationId: updateUserCredentials
      requestBody:
        description: Credential object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
        required: true
      responses:
        200:
          description: User credentials updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
        400:
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessOrError'
      security:
      - Api-Key: []
        Bearer: []
      x-codegen-request-body-name: body
  /user/signature:
    get:
      tags:
      - user
      summary: Retrieve the authenticated user's signature
      description: Retrieve the authenticated user's signature
      operationId: getUserSignature
      responses:
        200:
          description: Signature retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signature'
      security:
      - Api-Key: []
        Bearer: []
    put:
      tags:
      - user
[...]
