{
  "openapi": "3.1.0",
  "info": {
    "title": "Rex API",
    "version": "1.0.0",
    "description": "Generated from Rex `{Service}::describe` introspection. Do not hand-edit — see scripts/build-openapi.ts."
  },
  "servers": [
    {
      "url": "https://api.rexsoftware.com"
    }
  ],
  "paths": {
    "/v1/rex/AdminWebhooks::create": {
      "post": {
        "operationId": "AdminWebhooks_create",
        "summary": "Create a record and return a reference to the id",
        "description": "Create a record and return a reference to the id",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {},
                  "return_id": {
                    "type": "boolean",
                    "description": "True if the id should returned only. False if the record should be returned"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "int|array Either the id of the newly created record or the newly created record (depends if return_id is specified)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminWebhooks::describe": {
      "post": {
        "operationId": "AdminWebhooks_describe",
        "summary": "Describes the class and its methods - simply or in detail",
        "description": "Describes the class and its methods - simply or in detail",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_detail": {
                    "type": "boolean",
                    "description": "True if detailed descriptions of each method should be included"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array describing the class",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "methods": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "archive": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "create": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "return_id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "boolean",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "nullable": true
                                        },
                                        "return_id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "boolean",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "read": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "extra_fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "examples": {
                                      "type": "array",
                                      "nullable": true
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "array",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "recoverFromArchive": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "recoverFromTrash": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "search": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "criteria": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "order_by": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "offset": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "number",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "limit": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "number",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "create_viewstate": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "boolean",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "search_state": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "ids_only": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "boolean",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "result_format": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "extra_options": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "criteria": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "order_by": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "offset": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "number",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "limit": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "number",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "create_viewstate": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "boolean",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "result_format": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "extra_options": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "limit": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "offset": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "trash": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "update": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "extra_fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "nullable": true
                                        },
                                        "fields": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "extra_fields": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminWebhooks::describeDeleteModes": {
      "post": {
        "operationId": "AdminWebhooks_describeDeleteModes",
        "summary": "Describes available delete modes",
        "description": "Describes available delete modes",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminWebhooks::describeModel": {
      "post": {
        "operationId": "AdminWebhooks_describeModel",
        "summary": "Describes certain characteristics of the model including searchable fields, orderby fields and delete modes",
        "description": "Describes certain characteristics of the model including searchable fields, orderby fields and delete modes",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array keyed by characteristic",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "search_result_formats": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "id": {
                            "type": "string",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "limit": {
                            "type": "number",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "delete_modes": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "data_structure": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "structure": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    },
                    "read_fields": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "core": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "read_extra_fields": {
                      "type": "object",
                      "nullable": true,
                      "properties": {}
                    },
                    "searchable_fields": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "system_owner_user_id": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "options": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "source": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "list": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "system_created_user_id": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "options": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "source": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "list": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "system_modified_user_id": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "options": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "source": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "list": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "system_ctime": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "system_modtime": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "id": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "system_record_state": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "label": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "nullable": true
                            },
                            "options": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "source": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "list": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            },
                            "real_field": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "category": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    },
                    "orderby_fields": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "export_options": {
                      "type": "array",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminWebhooks::describeSearchFields": {
      "post": {
        "operationId": "AdminWebhooks_describeSearchFields",
        "summary": "Describes search fields",
        "description": "Describes search fields",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_detail": {
                    "type": "boolean",
                    "description": "True if detail about the fields should be included"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array of fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "real_field": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "category": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "system_owner_user_id": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "options": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "source": {
                              "type": "string",
                              "nullable": true
                            },
                            "list": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "real_field": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "category": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "system_created_user_id": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "label": {
                          "type": "string",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "nullable": true
                        },
                        "options": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "source": {
                              "type": "string",
                              "nullable": true
                            },
                            "list": {
                              "type": "string",
                              "nullable": true
                            }
[...]
