{
  "openapi": "3.1.0",
  "info": {
    "title": "Rex API",
    "version": "1.0.0",
    "description": "Generated from Rex `{Service}::describe` introspection. Do not hand-edit — see scripts/build-openapi.ts."
  },
  "servers": [
    {
      "url": "https://api.rexsoftware.com"
    }
  ],
  "paths": {
    "/v1/rex/AdminValueLists::addValueToList": {
      "post": {
        "operationId": "AdminValueLists_addValueToList",
        "summary": "Adds a value to a list",
        "description": "Adds a value to a list",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "The name of the list we're getting values for - call getValueLists to retrieve available values"
                  },
                  "display_text": {
                    "type": "string",
                    "description": "The text that should be displayed for the value - will be added if it doesn't already exist"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "list_name",
                  "display_text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array The created record",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::combineValuesInList": {
      "post": {
        "operationId": "AdminValueLists_combineValuesInList",
        "summary": "Merges a non system values into a single value (system or otherwise)",
        "description": "Merges a non system values into a single value (system or otherwise)",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "The name of the list we're getting values for - call getValueLists to retrieve available values"
                  },
                  "value_source_id": {
                    "type": "string",
                    "description": "The id of the value list item we are removing"
                  },
                  "value_target_id": {
                    "type": "string",
                    "description": "The id of the value list item we are merging into"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "list_name",
                  "value_source_id",
                  "value_target_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "bool ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::deleteValueInList": {
      "post": {
        "operationId": "AdminValueLists_deleteValueInList",
        "summary": "Delete a value in list",
        "description": "Delete a value in list",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "List name"
                  },
                  "value_id": {
                    "type": "integer",
                    "description": "The value id"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "list_name",
                  "value_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "int ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::describe": {
      "post": {
        "operationId": "AdminValueLists_describe",
        "summary": "Describes the class and its methods - simply or in detail",
        "description": "Describes the class and its methods - simply or in detail",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_detail": {
                    "type": "boolean",
                    "description": "True if detailed descriptions of each method should be included"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array describing the class",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "methods": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "archive": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "create": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "return_id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "boolean",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "nullable": true
                                        },
                                        "return_id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "boolean",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "read": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "extra_fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "string",
                                        "nullable": true
                                      }
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "examples": {
                                      "type": "array",
                                      "nullable": true
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "array",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "recoverFromArchive": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "recoverFromTrash": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "search": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "criteria": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "order_by": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "offset": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "number",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "limit": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "number",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "create_viewstate": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "boolean",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "search_state": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "ids_only": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "boolean",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "result_format": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "extra_options": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "criteria": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "order_by": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "offset": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "number",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "limit": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "number",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "create_viewstate": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "boolean",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "result_format": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "default": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "extra_options": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "limit": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "offset": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "trash": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
                                              "type": "number",
                                              "nullable": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "result": {
                                              "type": "number",
                                              "nullable": true
                                            },
                                            "error": {}
                                          }
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "update": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "data": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                },
                                "extra_fields": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "data": {
                                          "type": "array",
                                          "nullable": true
                                        },
                                        "fields": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "extra_fields": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                },
                                "response": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "array",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "schema": {
                                      "type": "array",
                                      "nullable": true
                                    },
                                    "statuses": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "200": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::getListValues": {
      "post": {
        "operationId": "AdminValueLists_getListValues",
        "summary": "Retrieves an array of list values from the system.",
        "description": "Retrieves an array of list values from the system.",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "The name of the list we're getting values for - call getValueLists to retrieve available values"
                  },
                  "include_system_values": {
                    "type": "boolean",
                    "description": "Set to true to include all system (non account values - this will retrieve values regardless of omission)"
                  },
                  "include_omitted_values": {
                    "type": "boolean",
                    "description": "Set to true to include omitted system values"
                  },
                  "retrieve_meta": {
                    "type": "boolean",
                    "description": "Set to true to retrieve additional meta data about the tag - usage, creation time, creation user"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "list_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array containing at least the keys: id,display_text",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::getValueListNames": {
      "post": {
        "operationId": "AdminValueLists_getValueListNames",
        "summary": "Retrieves an array of value list names from the system for use with this end point",
        "description": "Retrieves an array of value list names from the system for use with this end point",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "return_objects": {
                    "type": "boolean",
                    "description": "When set to true, resulting array will contain objects in the format {'id':'list_name','text':'human list name'}\nrather than just an array of ids"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array of value list names",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::hideSystemValueInList": {
      "post": {
        "operationId": "AdminValueLists_hideSystemValueInList",
        "summary": "Hides a system value from a value list",
        "description": "Hides a system value from a value list",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "The name of the list we're hiding a system value on"
                  },
                  "value_id": {
                    "type": "string",
                    "description": "The id of the value we're hiding"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "list_name",
                  "value_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "int True if added to database, false if already exists",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::isGhostSession": {
      "post": {
        "operationId": "AdminValueLists_isGhostSession",
        "summary": "True when the current session is a \"ghost\" account-user — i.e. a group-app /\nhead-office user who logged into this (child) account via switchToAccount\nrather than being a real member of it. This is a session-TYPE predicate, NOT\nan authorisation check: a ghost account_users row is only ever created once\nthe user's group-app visibility privilege (login_to_sub_accounts on a parent,\nor an account-group privilege-set assignment) has been enforced upstream at\ntoken creation, so a ghost session is proof that privilege already held — do\nnot treat this as a substitute for a privilege check. Used to grant such users\nseat-free access to AI Prospecting (CRM-13865).",
        "description": "True when the current session is a \"ghost\" account-user — i.e. a group-app /\nhead-office user who logged into this (child) account via switchToAccount\nrather than being a real member of it. This is a session-TYPE predicate, NOT\nan authorisation check: a ghost account_users row is only ever created once\nthe user's group-app visibility privilege (login_to_sub_accounts on a parent,\nor an account-group privilege-set assignment) has been enforced upstream at\ntoken creation, so a ghost session is proof that privilege already held — do\nnot treat this as a substitute for a privilege check. Used to grant such users\nseat-free access to AI Prospecting (CRM-13865).",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "bool ",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::renameValueInList": {
      "post": {
        "operationId": "AdminValueLists_renameValueInList",
        "summary": "Rename a user value in a list",
        "description": "Rename a user value in a list",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "The name of the list we're getting values for - call getValueLists to retrieve available values"
                  },
                  "value_id": {},
                  "display_text": {}
                },
                "additionalProperties": false,
                "required": [
                  "list_name",
                  "value_id",
                  "display_text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "int The number of affected rows",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminValueLists::showSystemValueInList": {
      "post": {
        "operationId": "AdminValueLists_showSystemValueInList",
        "summary": "Show system value on list",
        "description": "Show system value on list",
        "deprecated": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "list_name": {
                    "type": "string",
                    "description": "The name of the list we're showing a system value on"
                  },
                  "value_id": {
                    "type": "string",
                    "description": "The id of the value we're showing"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "list_name",
                  "value_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "bool True on success, false on failure",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminWebhooks::create": {
      "post": {
        "operationId": "AdminWebhooks_create",
        "summary": "Create a record and return a reference to the id",
        "description": "Create a record and return a reference to the id",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {},
                  "return_id": {
                    "type": "boolean",
                    "description": "True if the id should returned only. False if the record should be returned"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "int|array Either the id of the newly created record or the newly created record (depends if return_id is specified)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/rex/AdminWebhooks::describe": {
      "post": {
        "operationId": "AdminWebhooks_describe",
        "summary": "Describes the class and its methods - simply or in detail",
        "description": "Describes the class and its methods - simply or in detail",
        "deprecated": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include_detail": {
                    "type": "boolean",
                    "description": "True if detailed descriptions of each method should be included"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "array An array describing the class",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "nullable": true
                    },
                    "methods": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "archive": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "parameters": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "comment": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "type": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "default_value": {},
                                    "required": {
                                      "type": "boolean",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            },
                            "returns": {
                              "type": "string",
                              "nullable": true
                            },
                            "openapi": {
                              "type": "object",
                              "nullable": true,
                              "properties": {
                                "available": {
                                  "type": "boolean",
                                  "nullable": true
                                },
                                "description": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "request": {
                                  "type": "object",
                                  "nullable": true,
                                  "properties": {
                                    "parameters": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "id": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "required": {
                                              "type": "boolean",
                                              "nullable": true
                                            },
                                            "definition": {
                                              "type": "object",
                                              "nullable": true,
                                              "properties": {
                                                "description": {
                                                  "type": "string",
                                                  "nullable": true
                                                },
                                                "type": {
                                                  "type": "string",
                                                  "nullable": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "examples": {
                                      "type": "object",
                                      "nullable": true,
                                      "properties": {
                                        "Example1": {
                                          "type": "object",
                                          "nullable": true,
                                          "properties": {
                                            "id": {
[...]
