{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.rexsoftware.api#AdminValueListsAddValueToListRequest": {
      "type": "structure",
      "members": {
        "list_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the list we're getting values for - call getValueLists to retrieve available values",
            "smithy.api#required": {}
          }
        },
        "display_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text that should be displayed for the value - will be added if it doesn't already exist",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsAddValueToListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsAddValueToList": {
      "type": "operation",
      "input": {
        "target": "com.rexsoftware.api#AdminValueListsAddValueToListRequest"
      },
      "output": {
        "target": "com.rexsoftware.api#AdminValueListsAddValueToListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/rex/AdminValueLists::addValueToList",
          "code": 200
        },
        "smithy.api#documentation": "Adds a value to a list\n\nAdds a value to a list"
      }
    },
    "com.rexsoftware.api#AdminValueListsCombineValuesInListRequest": {
      "type": "structure",
      "members": {
        "list_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the list we're getting values for - call getValueLists to retrieve available values",
            "smithy.api#required": {}
          }
        },
        "value_source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the value list item we are removing",
            "smithy.api#required": {}
          }
        },
        "value_target_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the value list item we are merging into",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsCombineValuesInListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsCombineValuesInList": {
      "type": "operation",
      "input": {
        "target": "com.rexsoftware.api#AdminValueListsCombineValuesInListRequest"
      },
      "output": {
        "target": "com.rexsoftware.api#AdminValueListsCombineValuesInListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/rex/AdminValueLists::combineValuesInList",
          "code": 200
        },
        "smithy.api#documentation": "Merges a non system values into a single value (system or otherwise)\n\nMerges a non system values into a single value (system or otherwise)"
      }
    },
    "com.rexsoftware.api#AdminValueListsDeleteValueInListRequest": {
      "type": "structure",
      "members": {
        "list_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "List name",
            "smithy.api#required": {}
          }
        },
        "value_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The value id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsDeleteValueInListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsDeleteValueInList": {
      "type": "operation",
      "input": {
        "target": "com.rexsoftware.api#AdminValueListsDeleteValueInListRequest"
      },
      "output": {
        "target": "com.rexsoftware.api#AdminValueListsDeleteValueInListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/rex/AdminValueLists::deleteValueInList",
          "code": 200
        },
        "smithy.api#documentation": "Delete a value in list\n\nDelete a value in list"
      }
    },
    "com.rexsoftware.api#AdminValueListsDescribeRequest": {
      "type": "structure",
      "members": {
        "include_detail": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if detailed descriptions of each method should be included"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveParametersId": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestParametersIdDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestParametersId": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestParametersIdDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestExamplesExample1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseExamplesExample1": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchive": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchiveOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateParametersData": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateParametersReturnId": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateParameters": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateParametersData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "return_id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateParametersReturnId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParametersDataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParametersReturnIdDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParametersReturnId": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParametersReturnIdDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParametersDataList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "return_id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParametersReturnId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestExamplesExample1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestExamplesExample1List",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseExamplesExample1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseExamplesExample1List",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreate": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreateOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersId": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersFieldsDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersFields": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersFieldsDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersExtraFieldsDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersExtraFields": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersExtraFieldsDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fields": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersFields",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "extra_fields": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParametersExtraFields",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiRequestParametersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiRequestExamplesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiRequestParametersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiRequestExamplesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponseExamplesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponseStatusesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponseExamplesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponseStatusesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRead": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsReadOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveParametersId": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestParametersIdDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestParametersId": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestParametersIdDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestExamplesExample1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseExamplesExample1": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchive": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchiveOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashParametersId": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestParametersIdDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestParametersId": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestParametersIdDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestExamplesExample1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseExamplesExample1": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrash": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrashOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersCriteriaDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersCriteria": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersCriteriaDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersOrderByDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersOrderBy": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersOrderByDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersOffset": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersLimit": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersCreateViewstate": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersSearchState": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersIdsOnly": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersResultFormat": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersExtraOptionsDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersExtraOptions": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersExtraOptionsDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParameters": {
      "type": "structure",
      "members": {
        "criteria": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersCriteria",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "order_by": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersOrderBy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersOffset",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "create_viewstate": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersCreateViewstate",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "search_state": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersSearchState",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ids_only": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersIdsOnly",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "result_format": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersResultFormat",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "extra_options": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParametersExtraOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCriteriaDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCriteria": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCriteriaDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOrderByDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOrderBy": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOrderByDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOffsetDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOffset": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOffsetDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersLimitDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersLimit": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersLimitDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCreateViewstateDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCreateViewstate": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCreateViewstateDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersResultFormatDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersResultFormat": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersResultFormatDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersExtraOptionsDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersExtraOptions": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersExtraOptionsDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "criteria": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCriteria",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "order_by": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOrderBy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersOffset",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "limit": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersLimit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "create_viewstate": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersCreateViewstate",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "result_format": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersResultFormat",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "extra_options": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParametersExtraOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestExamplesExample1": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "offset": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseExamplesExample1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseExamplesExample1List",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearch": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearchOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashParametersId": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestParametersIdDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestParametersId": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestParametersIdDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestParametersId",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestExamplesExample1": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseExamplesExample1": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseExamplesExample1",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrash": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrashOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersData": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "smithy.api#Document"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersFieldsDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersFields": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersFieldsDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersExtraFieldsDefaultValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersExtraFields": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_value": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersExtraFieldsDefaultValueList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParameters": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersData",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fields": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersFields",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "extra_fields": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParametersExtraFields",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersDataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersFieldsDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersFields": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersFieldsDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersExtraFieldsDefinition": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersExtraFields": {
      "type": "structure",
      "members": {
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "definition": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersExtraFieldsDefinition",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParameters": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersDataList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fields": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersFields",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "extra_fields": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParametersExtraFields",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestExamplesExample1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestExamplesExample1List",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequest": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequestExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseExamplesExample1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseExamples": {
      "type": "structure",
      "members": {
        "Example1": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseExamplesExample1List",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseSchemaList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseStatuses": {
      "type": "structure",
      "members": {
        "_200": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "200",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseExamples",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseSchemaList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "statuses": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponseStatuses",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapi": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "request": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiRequest",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapiResponse",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdate": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "returns": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "openapi": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdateOpenapi",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponseMethods": {
      "type": "structure",
      "members": {
        "archive": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsArchive",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "create": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsCreate",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "read": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRead",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recoverFromArchive": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromArchive",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recoverFromTrash": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsRecoverFromTrash",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "search": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsSearch",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "trash": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsTrash",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "update": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethodsUpdate",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.rexsoftware.api#AdminValueListsDescribeResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "methods": {
          "target": "com.rexsoftware.api#AdminValueListsDescribeResponseMethods",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsDescribe": {
      "type": "operation",
      "input": {
        "target": "com.rexsoftware.api#AdminValueListsDescribeRequest"
      },
      "output": {
        "target": "com.rexsoftware.api#AdminValueListsDescribeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/rex/AdminValueLists::describe",
          "code": 200
        },
        "smithy.api#documentation": "Describes the class and its methods - simply or in detail\n\nDescribes the class and its methods - simply or in detail"
      }
    },
    "com.rexsoftware.api#AdminValueListsGetListValuesRequest": {
      "type": "structure",
      "members": {
        "list_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the list we're getting values for - call getValueLists to retrieve available values",
            "smithy.api#required": {}
          }
        },
        "include_system_values": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to include all system (non account values - this will retrieve values regardless of omission)"
          }
        },
        "include_omitted_values": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to include omitted system values"
          }
        },
        "retrieve_meta": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to true to retrieve additional meta data about the tag - usage, creation time, creation user"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsGetListValuesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.rexsoftware.api#AdminValueListsGetListValues": {
      "type": "operation",
      "input": {
        "target": "com.rexsoftware.api#AdminValueListsGetListValuesRequest"
      },
      "output": {
        "target": "com.rexsoftware.api#AdminValueListsGetListValuesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/rex/AdminValueLists::getListValues",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves an array of list values from the system.\n\nRetrieves an array of list values from the system."
      }
    },
    "com.rexsoftware.api#AdminValueListsGetValueListNamesRequest": {
      "type": "structure",
      "members": {
        "return_objects": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
