{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0",
    "title": "Reapit Sales API Version 2",
    "description": "Note that all date parameters are ISO8601, e.g. `2004-02-12T15:00:00+10:00`. If `modifiedBefore`/`modifiedAfter` and/or `createdBefore`/`createdAfter` combinations are used, the results will reflect the data range in between these.\n\nFor all filters accepting multiple comma-separated values, the API also supports the RFC 3986 format:\n* /api/endpoint?include=a,b,c (Comma-separated values format)\n* /api/endpoint?include[]=a&include[]=b&include[]=c (RFC 3986 format)\n\n\nResponse schemas in this document are derived from observed API responses (see scripts/capture-samples.ts), not from the vendor document, whose response definitions are largely unusable. Every scalar is typed `string` because that is what the API sends."
  },
  "servers": [
    {
      "url": "https://api.agentboxcrm.com.au"
    }
  ],
  "paths": {
    "/contact-classes": {
      "get": {
        "operationId": "getContactClasses",
        "tags": [
          "Lookup Values"
        ],
        "description": "Returns a set of contact classes\n",
        "parameters": [
          {
            "name": "filter[query]",
            "in": "query",
            "description": "Filter results by contact class name",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Output additional objects in the response. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "enum": [
                "group",
                "staffMember"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "contactClasses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "displayName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "type",
                          "displayName"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items",
                    "current",
                    "last",
                    "contactClasses"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/contact-sources": {
      "get": {
        "operationId": "getContactSources",
        "tags": [
          "Lookup Values"
        ],
        "description": "Returns a set of contact sources\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "contactSources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items",
                    "current",
                    "last",
                    "contactSources"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "getContacts",
        "tags": [
          "Contacts"
        ],
        "description": "Returns a set of contact records meeting the supplied criteria\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          },
          {
            "name": "filter[query]",
            "in": "query",
            "description": "Filter results by first name / last name / email / phone number",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "Filter results by contact id. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[firstName]",
            "in": "query",
            "description": "Filter results by first name",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[lastName]",
            "in": "query",
            "description": "Filter results by last name",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[email]",
            "in": "query",
            "description": "Filter results by email address",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "By default only Active records are returned, pass filter[status]=All to get all records. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Active",
                "Archived",
                "Do Not Contact",
                "Unsubscribed",
                "All"
              ]
            }
          },
          {
            "name": "filter[companyName]",
            "in": "query",
            "description": "Filter results by Company Name",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[mobile]",
            "in": "query",
            "description": "Filter results by Mobile Number",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[homePhone]",
            "in": "query",
            "description": "Filter results by Home Phone",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[workPhone]",
            "in": "query",
            "description": "Filter results by Work Phone",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[contactClass]",
            "in": "query",
            "description": "Filter results by Contact Class that are attached to the contact. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[contactClassExclude]",
            "in": "query",
            "description": "Filter results by Contact Class that are not attached to the contact. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[contactClassId]",
            "in": "query",
            "description": "Filter results by Contact Class Id that are attached to the contact. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[contactClassIdExclude]",
            "in": "query",
            "description": "Filter results by Contact Class Id that are not attached to the contact. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[matchAllContactClass]",
            "in": "query",
            "description": "Contact Class Filter must match all input",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "filter[address]",
            "in": "query",
            "description": "Filter results by Address",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[suburb]",
            "in": "query",
            "description": "Filter results by Suburb. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[postcode]",
            "in": "query",
            "description": "Filter results by Postcode. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[state]",
            "in": "query",
            "description": "Filter results by State. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberId]",
            "in": "query",
            "description": "Filter results by associated agent. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberRole]",
            "in": "query",
            "description": "Filter results by associated agent role. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Full Access",
                "View Only",
                "Primary Owner"
              ]
            }
          },
          {
            "name": "filter[memberTeamId]",
            "in": "query",
            "description": "Filter results by associated agents from specified team. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberOfficeId]",
            "in": "query",
            "description": "Filter results by associated agents from specified office. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[subscription]",
            "in": "query",
            "description": "Filter results by associated subscription. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter Results by Contact Type",
            "schema": {
              "type": "string",
              "enum": [
                "Person",
                "Business"
              ]
            }
          },
          {
            "name": "filter[reqMatchListingId]",
            "in": "query",
            "description": "Match contact's search requirements to a listing, this will overwrite any of the search requirements filters",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[reqListingType]",
            "in": "query",
            "description": "Filter contacts by search requirements's listing type",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Sale",
                "Lease"
              ]
            }
          },
          {
            "name": "filter[reqPropertyType]",
            "in": "query",
            "description": "Filter contacts by search requirements's property type",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Residential",
                "Rural",
                "Commercial",
                "Holiday",
                "Business"
              ]
            }
          },
          {
            "name": "filter[reqPropertyCategory]",
            "in": "query",
            "description": "Filter contacts by search requirements's by property category (a full list of valid categories can be obtained using the GET/property-types endpoint). Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Apartment",
                "Development",
                "Factory",
                "House",
                "Land",
                "Office",
                "Semi/Duplex",
                "Retail",
                "Studio",
                "Block Of Units",
                "Terrace",
                "Townhouse",
                "Unit",
                "Villa",
                "Warehouse",
                "Showroom",
                "Cropping",
                "Dairy",
                "Farmlet",
                "Horticulture",
                "Lifestyle",
                "Livestock",
                "Viticulture",
                "Mixed Farming",
                "Acreage",
                "Hotel/Leisure",
                "Medical/Consulting",
                "Other",
                "Alpine",
                "BackpackerHostel",
                "BedAndBreakfast",
                "Campground",
                "CaravanHolidayPark",
                "ExecutiveRental",
                "FarmStay",
                "Flat",
                "HouseBoat",
                "Lodge",
                "Motel",
                "Resort",
                "Retreat",
                "SelfContainedCottage",
                "ServicedApartment",
                "Car Space",
                "Accommodation/Tourism",
                "Automotive",
                "Beauty/Health",
                "Food/Hospitality",
                "Import/Export/Whole",
                "Services",
                "Education/Training",
                "Franchise",
                "Home/Garden",
                "Industrial/Manufacturing",
                "Leisure/Entertainment",
                "Professional",
                "Rural",
                "Transport/Distribution"
              ]
            }
          },
          {
            "name": "filter[reqSuburb]",
            "in": "query",
            "description": "Filter contacts by search requirements's suburb. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[reqState]",
            "in": "query",
            "description": "Filter contacts by search requirements's states, (accepts state short name e.g. WA). Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[reqPostcode]",
            "in": "query",
            "description": "Filter contacts by search requirements's post code. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[reqIncSurroundSuburbs]",
            "in": "query",
            "description": "Filter contacts by search requirements's surrounding suburbs",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "filter[limitSearch]",
            "in": "query",
            "description": "When set to true, will exclude contacts missing criteria searched (e.g. contacts with no preference)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "filter[reqRegion]",
            "in": "query",
            "description": "Filter results by Region (accepts region names). Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[reqFeature]",
            "in": "query",
            "description": "Filter results by features. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[reqPriceFrom]",
            "in": "query",
            "description": "Minimum price of properties for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqPriceTo]",
            "in": "query",
            "description": "Maximum price of properties for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqBedroomsFrom]",
            "in": "query",
            "description": "Minimum number of bedrooms for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqBedroomsTo]",
            "in": "query",
            "description": "Maximum number of bedrooms for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqBathroomsFrom]",
            "in": "query",
            "description": "Minimum number of bathrooms for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqBathroomsTo]",
            "in": "query",
            "description": "Maximum number of bathrooms for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqTotalParkingFrom]",
            "in": "query",
            "description": "Minimum number of car parking spaces for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqTotalParkingTo]",
            "in": "query",
            "description": "Maximum number of car parking spaces for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqLandAreaFrom]",
            "in": "query",
            "description": "Minimum land area (in square meters) for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqLandAreaTo]",
            "in": "query",
            "description": "Maximum land area (in square meters) for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqBuildingAreaFrom]",
            "in": "query",
            "description": "Minimum building area (in square meters) for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[reqBuildingAreaTo]",
            "in": "query",
            "description": "Maximum building area (in square meters) for a contact search requirements",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Output additional objects in the response. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "enum": [
                "streetAddress",
                "contactClasses",
                "relatedStaffMembers",
                "subscriptions",
                "communicationRestrictions",
                "permissions"
              ]
            }
          },
          {
            "name": "filter[modifiedBefore]",
            "in": "query",
            "description": "Return records that were modified before the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[modifiedAfter]",
            "in": "query",
            "description": "Return records that were modified after the supplied date. If a modifiedBefore is also supplied, this will return records between the two dates.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[createdBefore]",
            "in": "query",
            "description": "Return records that were created before the supplied date. If a createdAfter is also supplied, this will return records between the two dates.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[createdAfter]",
            "in": "query",
            "description": "Return records that were created after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[clientRef]",
            "in": "query",
            "description": "Return records that match the supplied clientRef.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Output additional fields in the response. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "enum": [
                "lastContacted",
                "clientRef"
              ]
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results by appointment start data, appointment end date",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "firstName",
                "lastName",
                "companyName",
                "firstCreated",
                "lastModified",
                "lastContacted"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "order results ASC or DESC",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "contacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "jobTitle": {
                            "type": "string"
                          },
                          "website": {
                            "type": "string"
                          },
                          "salutation": {
                            "type": "string"
                          },
                          "customSalutation": {
                            "type": "string"
                          },
                          "companyName": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "homePhone": {
                            "type": "string"
                          },
                          "workPhone": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "firstCreated": {
                            "type": "string"
                          },
                          "lastModified": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "self"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "status",
                          "title",
                          "firstName",
                          "lastName",
                          "jobTitle",
                          "website",
                          "salutation",
                          "customSalutation",
                          "companyName",
                          "email",
                          "mobile",
                          "homePhone",
                          "workPhone",
                          "source",
                          "firstCreated",
                          "lastModified",
                          "links"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items",
                    "current",
                    "last",
                    "contacts"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "tags": [
          "Contacts"
        ],
        "description": "Allows to create a contacts.\n\nData in the following editable fields will be saved on created contacts:\n- `title`\n- `firstName`\n- `lastName`\n- `type`: Must be either \"Person\" or \"Business\"\n- `customSalutation` (if supplied, will override the system generated `salutation`)\n- `companyName`\n- `jobTitle`\n- `email`\n- `mobile`\n- `homePhone`\n- `workPhone`\n- `streetAddress`\n- `source`: Must be one of the values from GET /contact-sources\n- `comments`\n- `attachedRelatedStaffMembers`:\n  - role: Must be either \"Primary Owner\", \"View Only\", or \"Full Access\"\n  - id: Staff Member ID\n- `contactClasses`: Must be valid values from GET /contact-classes\n- `subscriptions`: Must be valid values from GET /subscription\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Contacts Result",
                "type": "object",
                "properties": {
                  "contact": {
                    "$ref": "#/components/schemas/NewContactInput"
                  }
                }
              }
            }
          },
          "description": "JSON string",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "fail"
                      ]
                    },
                    "contact": {
                      "$ref": "#/components/schemas/SimpleContactOutput"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "get": {
        "operationId": "getContact",
        "tags": [
          "Contacts"
        ],
        "description": "Returns a single contact record\n",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Unique Contact Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Output additional fields in the response. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "enum": [
                "relatedStaffMembers",
                "searchRequirements",
                "permissions"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "clientRef": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        },
                        "website": {
                          "type": "string"
                        },
                        "salutation": {
                          "type": "string"
                        },
                        "customSalutation": {
                          "type": "string"
                        },
                        "addressTo": {
                          "type": "string"
                        },
                        "legalName": {
                          "type": "string"
                        },
                        "companyName": {
                          "type": "string"
                        },
                        "jobTitle": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "mobile": {
                          "type": "string"
                        },
                        "homePhone": {
                          "type": "string"
                        },
                        "workPhone": {
                          "type": "string"
                        },
                        "fax": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string"
                            },
                            "suburb": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "postcode": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "address",
                            "suburb",
                            "state",
                            "country",
                            "postcode"
                          ]
                        },
                        "postalAddress": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string"
                            },
                            "suburb": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "postcode": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "address",
                            "suburb",
                            "state",
                            "country",
                            "postcode"
                          ]
                        },
                        "letterAddressBlock": {
                          "type": "string"
                        },
                        "prefContactMethod": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        },
                        "comments": {
                          "type": "string"
                        },
                        "firstCreated": {
                          "type": "string"
                        },
                        "lastModified": {
                          "type": "string"
                        },
                        "lastContacted": {
                          "type": "string"
                        },
                        "attachedRelatedStaffMembers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "role",
                              "id"
                            ]
                          }
                        },
                        "contactClasses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type",
                              "displayName"
                            ]
                          }
                        },
                        "subscriptions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        },
                        "keyDates": {
                          "type": "array",
                          "items": {}
                        },
                        "communicationRestrictions": {
                          "type": "object",
                          "properties": {
                            "doNotCall": {
                              "type": "boolean"
                            },
                            "doNotSMS": {
                              "type": "boolean"
                            },
                            "doNotEmail": {
                              "type": "boolean"
                            },
                            "doNotMail": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "doNotCall",
                            "doNotSMS",
                            "doNotEmail",
                            "doNotMail"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "clientRef",
                        "type",
                        "status",
                        "title",
                        "firstName",
                        "lastName",
                        "website",
                        "salutation",
                        "customSalutation",
                        "addressTo",
                        "legalName",
                        "companyName",
                        "jobTitle",
                        "email",
                        "mobile",
                        "homePhone",
                        "workPhone",
                        "fax",
                        "streetAddress",
                        "postalAddress",
                        "letterAddressBlock",
                        "prefContactMethod",
                        "source",
                        "comments",
                        "firstCreated",
                        "lastModified",
                        "lastContacted",
                        "attachedRelatedStaffMembers",
                        "contactClasses",
                        "subscriptions",
                        "keyDates",
                        "communicationRestrictions"
                      ]
                    }
                  },
                  "required": [
                    "contact"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      },
      "put": {
        "operationId": "updateContact",
        "tags": [
          "Contacts"
        ],
        "description": "Allows to update a contact.\nIt can be used to update contact's editable fields,\nor to subscribe/unsubscribe contacts from specific newsletters.\n\nThe `salutation` field will output a system generated value by default. To override it, set the expected value in the `customSalutation` field.\n\nEditable fields include:\n- `title`\n- `firstName`\n- `lastName`\n- `type`: Must be either \"Person\" or \"Business\"\n- `status`: Must be either \"Active\", \"Archived\", \"Do Not Contact\" or \"Unsubscribed\"\n- `customSalutation` (if supplied, will override the system generated `salutation`)\n- `companyName`\n- `jobTitle`\n- `email`\n- `mobile`\n- `homePhone`\n- `workPhone`\n- `streetAddress`\n- `source`: Must be one of the values from GET /contact-sources\n- `comments`\n- `attachedRelatedStaffMembers`:\n  - role: Must be either \"Primary Owner\", \"View Only\", or \"Full Access\"\n  - id: Staff Member ID\n- `contactClasses`: Must be valid values from GET /contact-classes\n- `subscriptions`: Must be valid values from GET /subscription\n\nThe following flags are used to toggle the behaviour of the corresponding fields to whether append new values or overwrite exisitng values:\n- `attachedRelatedStaffAppendable`: When it is set to `false` or it is not provided, existing `attachedRelatedStaffMembers` will be overwritten.\n  When it is set to `true`, new `attachedRelatedStaffMembers` will be appended.\n- `contactClassesAppendable`: When it is set to `false` or it is not set, existing `contactClasses` will be overwritten.\n  When it is set to `true, new `contactClasses` will be appended.\n- `subscriptionsAppendable`: When it is set to `false` or it is not set, existing `subscriptions` will be overwritten.\n  When it is set to `true, new `subscriptions` will be appended.\n",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Contacts Result",
                "type": "object",
                "properties": {
                  "contact": {
                    "$ref": "#/components/schemas/ExistingContactInput"
                  }
                }
              }
            }
          },
          "description": "JSON string",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "fail"
                      ]
                    },
                    "contact": {
                      "$ref": "#/components/schemas/SimpleContactOutput"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/enquiries": {
      "post": {
        "operationId": "createEnquiry",
        "tags": [
          "Enquiries"
        ],
        "description": "Allows for creation of a enquiry.\nIt can be used to post a general enquiry, or a listing/project enquiry.\n\n*The following data is needed to create a general enquiry:*\n- `attachedContact`: An contact object. See `/POST contacts`.\n  - If `id` is not provided within the contact data, the system will first try to match an existing contact based on the given email or mobile.\n    If no match is found, a new contact will be created. If an existing contact is matched, it will be attached to the enquiry and it will not be overwritten.\n    To update an existing contact please use `PUT /contacts` endpoint.\n  - The below flags are options under the `attachedContact`->`actions` object\n    - `attachListingAgents`: When set to true, listing agent(s) will be attached to the contact.\n    - `addDefaultContactClasses`: When set to true, system default contact classes for the enquiry type will be attached to the contact.\n    - `addDefaultSubscriptions`: When set to true, system default subscriptions for the enquiry type will be attached to the contact.\n    - `addDefaultRequirements`: When set to true, system default requirements for the enquiry type will be attached to the contact.\n\n- `comment`: Enquiry content\n\n*To create a listing/project enquiry, one of the following data is needed in addition to the above mandatory data:*\n- `attachedListing`: An object containing listing Id.\n- `attachedProject`: An object containing project Id.\n\n\nThe following data is optional:\n- `date`: ISO 8601 date. Current datetime will be used if not provided. Default timezone will be used if timezone is not specified.\n- `type`: Must be one of the values from `GET /enquiry-types`\n- `source`: Must be one of the values from `GET /enquiry-sources`\n- `prospectiveBuyerDetails`: (for listing/project enquiry)\n  - `contractTaken`: Boolean\n  - `reportTaken`: Boolean\n  - `ongoingInterest`: Boolean\n  - `followUp`: Boolean\n  - `priceFeedback`: Integer\n  - `interestLevel`: Must be one of the values from `GET /enquiry-interest-levels`\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enquiry": {
                    "$ref": "#/components/schemas/Enquiry"
                  }
                }
              }
            }
          },
          "description": "JSON string",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "response",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "fail"
                      ]
                    },
                    "enquiry": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "self": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/enquiry-interest-levels": {
      "get": {
        "operationId": "getEnquiryInterestLevels",
        "tags": [
          "Lookup Values"
        ],
        "description": "Returns a set of enquiry interest levels\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "enquiryInterestLevels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items",
                    "current",
                    "last",
                    "enquiryInterestLevels"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/enquiry-sources": {
      "get": {
        "operationId": "getEnquirySources",
        "tags": [
          "Lookup Values"
        ],
        "description": "Returns a set of enquiry sources\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "enquirySources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items",
                    "current",
                    "last",
                    "enquirySources"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/enquiry-types": {
      "get": {
        "operationId": "getEnquiryTypes",
        "tags": [
          "Lookup Values"
        ],
        "description": "Returns a set of enquiry types\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "enquiryTypes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ]
                      }
                    }
                  },
                  "required": [
                    "items",
                    "current",
                    "last",
                    "enquiryTypes"
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed"
          }
        }
      }
    },
    "/listings": {
      "get": {
        "operationId": "getListings",
        "tags": [
          "Listings"
        ],
        "description": "Returns a set of listings meeting the supplied criteria\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results should be returned",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return per page (Default 20)",
            "schema": {
              "type": "integer",
              "format": "integer",
              "default": 20
            }
          },
          {
            "name": "filter[query]",
            "in": "query",
            "description": "Filter results by listing id / address / suburb / property name",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[officeId]",
            "in": "query",
            "description": "Filter results by office id",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[projectId]",
            "in": "query",
            "description": "Filter results by project id",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberId]",
            "in": "query",
            "description": "Filter results by associated agent. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberTeamId]",
            "in": "query",
            "description": "Filter results by associated team. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberOfficeId]",
            "in": "query",
            "description": "Filter results by associated office. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberRole]",
            "in": "query",
            "description": "Filter results by associated agent role. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[memberWebDisplay]",
            "in": "query",
            "description": "Filter properties by associated staff members web display",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[contactId]",
            "in": "query",
            "description": "Filter results by associated contacts. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[contactRole]",
            "in": "query",
            "description": "Filter results by associated contact roles, valid values can be obtained from  GET /contact-classes. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[propertyId]",
            "in": "query",
            "description": "Filter results by properties. Supports multiple comma-separated values.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[unitNum]",
            "in": "query",
            "description": "Filter results by unit number",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[lvNum]",
            "in": "query",
            "description": "Filter results by level number",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[streetNum]",
            "in": "query",
            "description": "Filter results by street number",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[streetName]",
            "in": "query",
            "description": "Filter results by street name",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[streetType]",
            "in": "query",
            "description": "Filter results by street type. See GET /street-types. Supports multiple comma-separated values.",
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[type]",
            "in": "query",
            "description": "Filter listings by type (`Sale` or `Lease`)",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Sale",
                "Lease"
              ]
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "description": "Filter properties by status. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Appraisal",
                "Presentation",
                "Pending",
                "Available",
                "Conditional",
                "Unconditional",
                "Settled",
                "Leased",
                "Withdrawn",
                "Archived"
              ]
            }
          },
          {
            "name": "filter[marketingStatus]",
            "in": "query",
            "description": "Filter results by marketing status. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Not Listed",
                "Available",
                "Under Contract",
                "Sold",
                "Leased"
              ]
            }
          },
          {
            "name": "filter[hiddenListing]",
            "in": "query",
            "description": "Filter results by hidden listing",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[offMarketListing]",
            "in": "query",
            "description": "Filter results by Off Market Listing",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "filter[propertyType]",
            "in": "query",
            "description": "Filter properties by type",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Residential",
                "Rural",
                "Commercial",
                "Holiday",
                "Business"
              ]
            }
          },
          {
            "name": "filter[propertyCategory]",
            "in": "query",
            "description": "Filter properties by category (a full list of valid categories can be obtained using the GET/property-types endpoint). Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "Apartment",
                "Development",
                "Factory",
                "House",
                "Land",
                "Office",
                "Semi/Duplex",
                "Retail",
                "Studio",
                "Block Of Units",
                "Terrace",
                "Townhouse",
                "Unit",
                "Villa",
                "Warehouse",
                "Showroom",
                "Cropping",
                "Dairy",
                "Farmlet",
                "Horticulture",
                "Lifestyle",
                "Livestock",
                "Viticulture",
                "Mixed Farming",
                "Acreage",
                "Hotel/Leisure",
                "Medical/Consulting",
                "Other",
                "Alpine",
                "BackpackerHostel",
                "BedAndBreakfast",
                "Campground",
                "CaravanHolidayPark",
                "ExecutiveRental",
                "FarmStay",
                "Flat",
                "HouseBoat",
                "Lodge",
                "Motel",
                "Resort",
                "Retreat",
                "SelfContainedCottage",
                "ServicedApartment",
                "Car Space",
                "Accommodation/Tourism",
                "Automotive",
                "Beauty/Health",
                "Food/Hospitality",
                "Import/Export/Whole",
                "Services",
                "Education/Training",
                "Franchise",
                "Home/Garden",
                "Industrial/Manufacturing",
                "Leisure/Entertainment",
                "Professional",
                "Rural",
                "Transport/Distribution"
              ]
            }
          },
          {
            "name": "filter[suburb]",
            "in": "query",
            "description": "Filter properties by suburb/s name or id. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[region]",
            "in": "query",
            "description": "Filter properties by region/s name or id. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[state]",
            "in": "query",
            "description": "Filter properties by state/s name or id. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[longitude]",
            "in": "query",
            "description": "Filter properties by geographic location. Both longitude and latitude must be provided.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "number"
            }
          },
          {
            "name": "filter[latitude]",
            "in": "query",
            "description": "Filter properties by geographic location. Both longitude and latitude must be provided.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "number"
            }
          },
          {
            "name": "filter[radius]",
            "in": "query",
            "description": "Filter properties within radius distance from the given longitude and latitude. The default radius unit is kilometer.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "number"
            }
          },
          {
            "name": "filter[incSurroundSuburbs]",
            "in": "query",
            "description": "Filter properties by surrounding suburbs",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "filter[priceFrom]",
            "in": "query",
            "description": "Minimum price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[priceTo]",
            "in": "query",
            "description": "Maximum price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[soldPriceFrom]",
            "in": "query",
            "description": "Minimum sold price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[soldPriceTo]",
            "in": "query",
            "description": "Maximum sold price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[appraisalPriceFrom]",
            "in": "query",
            "description": "Minimum appraisal price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[appraisalPriceTo]",
            "in": "query",
            "description": "Maximum appraisal price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[appraisalClassification]",
            "in": "query",
            "description": "Filter properties by appraisal classification. Must be one of the values from GET /appraisal-classifications. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[weeklyRentFrom]",
            "in": "query",
            "description": "Minimum weekly rent price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[weeklyRentTo]",
            "in": "query",
            "description": "Maximum weekly rent price of properties to return",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[soldDateFrom]",
            "in": "query",
            "description": "Return properties that were sold on or after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[soldDateTo]",
            "in": "query",
            "description": "Return records that were sold on or before the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[bedroomsFrom]",
            "in": "query",
            "description": "Minimum number of bedrooms for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[bedroomsTo]",
            "in": "query",
            "description": "Maximum number of bedrooms for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[bathroomsFrom]",
            "in": "query",
            "description": "Minimum number of bathrooms for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[bathroomsTo]",
            "in": "query",
            "description": "Maximum number of bathrooms for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[totalParkingFrom]",
            "in": "query",
            "description": "Minimum number of car parking spaces for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[totalParkingTo]",
            "in": "query",
            "description": "Maximum number of car parking spaces for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[landAreaFrom]",
            "in": "query",
            "description": "Minimum land area (in square meters) for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[landAreaTo]",
            "in": "query",
            "description": "Maximum land area (in square meters) for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[buildingAreaFrom]",
            "in": "query",
            "description": "Minimum building area (in square meters) for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[buildingAreaTo]",
            "in": "query",
            "description": "Maximum building area (in square meters) for returned properties",
            "schema": {
              "type": "integer",
              "format": "string"
            }
          },
          {
            "name": "filter[listingMatchContactId]",
            "in": "query",
            "description": "Match properties to contact(s), Supports multiple comma-separated values",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[listingMatchSearchRequirementId]",
            "in": "query",
            "description": "Match properties to search requirement, Supports multiple comma-separated values",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[inspectionStartDateFrom]",
            "in": "query",
            "description": "Return properties that are open for inspection start on/after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[inspectionStartDateTo]",
            "in": "query",
            "description": "Return properties that are open for inspection start before/on the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[inspectionEndDateFrom]",
            "in": "query",
            "description": "Return properties that are open for inspection end on/after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[inspectionEndDateTo]",
            "in": "query",
            "description": "Return properties that are open for inspection end before/on the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[auctionDateFrom]",
            "in": "query",
            "description": "Return results that are auctioned on/after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[auctionDateTo]",
            "in": "query",
            "description": "Return properties that are auctioned before/on the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[appraisalDateFrom]",
            "in": "query",
            "description": "Return results that are appraised on/after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[appraisalDateTo]",
            "in": "query",
            "description": "Return properties that are appraised before/on the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[presentationDateFrom]",
            "in": "query",
            "description": "Return results that are presented on/after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[presentationDateTo]",
            "in": "query",
            "description": "Return properties that are presented before/on the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[features]",
            "in": "query",
            "description": "Filter results by property features. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "string"
            }
          },
          {
            "name": "filter[matchAllFeature]",
            "in": "query",
            "description": "Feature Filter must match all input",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "filter[hasInvestmentPotential]",
            "in": "query",
            "description": "Filter listing having investment potential",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Output additional objects in the response. Supports multiple comma-separated values.",
            "style": "form",
            "explode": false,
            "allowMultiple": true,
            "schema": {
              "type": "string",
              "enum": [
                "relatedContacts",
                "relatedStaffMembers",
                "internalInformation",
                "inspectionDates",
                "mainImage",
                "documents",
                "mainDescription",
                "contractDetails",
                "permissions",
                "permissionsExtended",
                "externalAgents",
                "hiddenImages"
              ]
            }
          },
          {
            "name": "filter[modifiedBefore]",
            "in": "query",
            "description": "Return properties modified on/before the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[modifiedAfter]",
            "in": "query",
            "description": "Return properties modified on/after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[createdBefore]",
            "in": "query",
            "description": "Return records that were created before the supplied date. If a createdAfter is also supplied, this will return records between the two dates.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "filter[createdAfter]",
            "in": "query",
            "description": "Return records that were created after the supplied date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results by soldPrice, searchPrice, address, lastModified, firstCreated, listedDate, nextInspectionDate. When nextInspectionDate order is selected, either inspectionStartDate or inspectionEndDate filter must be applied. The next inspection date inside of the filtered results will be used in the ordering.  \nYou can also order by multiple columns by passing the `orderBy` parameter as an array, whereby the key is the column you wish to order by and the value is the order direction.  \n**For example:**  \norderBy[status]=ASC&  \norderBy[lastModified]=DESC\n**Note** if you use this format, you no longer need to use the `order` parameter.\n",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "soldPrice",
                "searchPrice",
                "address",
                "lastModified",
                "firstCreated",
                "listedDate",
                "nextInspectionDate",
                "onMarketDate",
                "auctionDate",
                "soldDate",
                "appraisalDate",
                "presentationDate",
                "status",
                "marketingStatus",
                "leasedDate"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "order results ASC or DESC",
            "schema": {
              "type": "string",
              "format": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "string"
                    },
                    "current": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "listings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "officeId": {
                            "type": "string"
                          },
                          "officeName": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "marketingStatus": {
                            "type": "string"
                          },
                          "hiddenListing": {
                            "type": "boolean"
                          },
                          "offMarketListing": {
                            "type": "boolean"
                          },
                          "method": {
                            "type": "string"
                          },
                          "webLink": {
                            "type": "string"
                          },
                          "listedDate": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "auctionDate": {
                            "type": "string"
                          },
                          "timezone": {
                            "type": "string"
                          },
                          "auctionVenue": {
                            "type": "string"
                          },
                          "eoiClosingDate": {
                            "type": "string"
                          },
                          "availableDate": {
                            "type": "string"
                          },
                          "onMarketDate": {
                            "type": "string"
                          },
                          "expectedOnMarketDate": {
                            "type": "string"
                          },
                          "leasedDate": {
                            "type": "string"
                          },
                          "bond": {
                            "type": "string"
                          },
                          "displayPrice": {
                            "type": "string"
                          },
                          "soldDate": {
                            "type": "string"
                          },
                          "property": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "category": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "newConstruction": {
                                "type": "boolean"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "streetAddress": {
                                    "type": "string"
                                  },
                                  "levelNum": {
                                    "type": "string"
                                  },
                                  "lotNum": {
                                    "type": "string"
                                  },
                                  "unitNum": {
                                    "type": "string"
                                  },
                                  "streetNum": {
                                    "type": "string"
                                  },
                                  "streetName": {
                                    "type": "string"
                                  },
                                  "streetType": {
                                    "type": "string"
                                  },
                                  "suburb": {
                                    "type": "string"
                                  },
                                  "state": {
                                    "type": "string"
                                  },
                                  "postcode": {
                                    "type": "string"
                                  },
                                  "country": {
                                    "type": "string"
                                  },
                                  "region": {
                                    "type": "string"
                                  },
                                  "hideAddress": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "streetAddress",
                                  "levelNum",
                                  "lotNum",
                                  "unitNum",
                                  "streetNum",
                                  "streetName",
                                  "streetType",
                                  "suburb",
                                  "state",
                                  "postcode",
                                  "country",
                                  "region",
                                  "hideAddress"
                                ]
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "lat": {
                                    "type": "string"
                                  },
                                  "long": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "lat",
                                  "long"
                                ]
                              },
                              "bedrooms": {
                                "type": "string"
                              },
                              "bathrooms": {
                                "type": "string"
                              },
                              "totalParking": {
                                "type": "string"
                              },
                              "landArea": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "value",
                                  "unit"
                                ]
                              },
                              "landSizeText": {
                                "type": "string"
                              },
                              "buildingArea": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string"
                                  },
                                  "unit": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "value",
                                  "unit"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "category",
                              "name",
                              "newConstruction",
                              "address",
                              "location",
                              "bedrooms",
                              "bathrooms",
                              "totalParking",
                              "landArea",
                              "landSizeText",
                              "buildingArea"
                            ]
                          },
                          "mainHeadline": {
                            "type": "string"
                          },
                          "firstCreated": {
                            "type": "string"
                          },
                          "lastModified": {
                            "type": "string"
                          },
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "self"
                            ]
                          },
                          "inspectionType": {
                            "type": "string"
[...]
